extends ../app

block main
    .sticki
        .welcome-wrapper
            .container
                .offer-slider
                    ul.main-list.owl-carousel.owl-theme
                        li.main-item
                            .main-img
                                img(src="/images/main-1.jpg", alt="Цветы")
                            .main-info
                                p.main-info_text Discover the women’s ready-to-wear pieces and .
                                a.main-info_link(href="#") Подробнее
                        li.main-item
                            .main-img
                                img(src="/images/main-1.jpg", alt="Цветы")
                            .main-info
                                p.main-info_text Discover the women’s ready-to-wear pieces and .
                                a.main-info_link(href="#") Подробнее
                        li.main-item
                            .main-img
                                img(src="/images/main-1.jpg", alt="Цветы")
                            .main-info
                                p.main-info_text Discover the women’s ready-to-wear pieces and .
                                a.main-info_link(href="#") Подробнее
                .offer-once
        .paralax-wrapper
    .images
        .container
            .supply
                .left-block
                    .main-img                        
                        .text-block
                            p.main-title To the moon and back
                            p.main-text Discover the women’s ready-to-wear pieces and<br> accessories from the fall-winter 2018 collection.
                            a.main-look(href="#") Смотреть <span>›</span>
                    .secondary
                        .secondary-img
                            .text-block
                                p.main-title To the moon and back
                                p.main-text Discover the women’s ready-to-wear pieces and<br> accessories from the fall-winter 2018 collection.
                                a.main-look(href="#") Смотреть <span>›</span>
                        .secondary-img
                            .text-block
                                p.main-title To the moon and back
                                p.main-text Discover the women’s ready-to-wear pieces and<br> accessories from the fall-winter 2018 collection.
                                a.main-look(href="#") Смотреть <span>›</span>
                .right-block
                    .bouquet-slider_title
                        img.logo-img(src="/images/logo.svg", alt="Логотип Raccoon Flowers")
                        span Pop
                    ul.unit
                        li.unit-item
                            .flower-img
                            .desc-text
                                p.main-title To the moon and back
                                p.flower-price <span>7 500</span> рублей
                                p.main-text Discover the women’s ready-to-wear pieces and accessories from the fall-winter 2018 collection.
                                a.main-look(href="#") Смотреть <span>›</span>
                        li.unit-item
                            .flower-img
                            .desc-text
                                p.main-title To the moon and back
                                p.flower-price <span>7 500</span> рублей
                                p.main-text Discover the women’s ready-to-wear pieces and accessories from the fall-winter 2018 collection.
                                a.main-look(href="#") Смотреть <span>›</span>
                        li.unit-item
                            .flower-img
                            .desc-text
                                p.main-title To the moon and back
                                p.flower-price <span>7 500</span> рублей
                                p.main-text Discover the women’s ready-to-wear pieces and accessories from the fall-winter 2018 collection.
                                a.main-look(href="#") Смотреть <span>›</span>
                        li.unit-item
                            .flower-img
                            .desc-text
                                p.main-title To the moon and back
                                p.flower-price <span>7 500</span> рублей
                                p.main-text Discover the women’s ready-to-wear pieces and accessories from the fall-winter 2018 collection.
                                a.main-look(href="#") Смотреть <span>›</span>
                        li.unit-item
                            .flower-img
                            .desc-text
                                p.main-title To the moon and back
                                p.flower-price <span>7 500</span> рублей
                                p.main-text Discover the women’s ready-to-wear pieces and accessories from the fall-winter 2018 collection.
                                a.main-look(href="#") Смотреть <span>›</span>
                        li.unit-item
                            .flower-img
                            .desc-text
                                p.main-title To the moon and back
                                p.flower-price <span>7 500</span> рублей
                                p.main-text Discover the women’s ready-to-wear pieces and accessories from the fall-winter 2018 collection.
                                a.main-look(href="#") Смотреть <span>›</span>
                        li.unit-item
                            .flower-img
                            .desc-text
                                p.main-title To the moon and back
                                p.flower-price <span>7 500</span> рублей
                                p.main-text Discover the women’s ready-to-wear pieces and accessories from the fall-winter 2018 collection.
                                a.main-look(href="#") Смотреть <span>›</span>
    .advantages-wrap
        .container
            .advantages
                .advantages_item
                    img(src="/images/bag.png", alt="Картинка")
                    .advantages_block
                        h4.advantages_title To the moon and back
                        p.advantages_text Discover the women’s ready-to-wear pieces and accessories from the fall-winter 2018 collection. Discover the women’s ready-to-wear pieces and
                .advantages_item
                    img(src="/images/bag.png", alt="Картинка")
                    .advantages_block
                        h4.advantages_title To the moon and back
                        p.advantages_text Discover the women’s ready-to-wear pieces and accessories from the fall-winter 2018 collection. Discover the women’s ready-to-wear pieces and
                .advantages_item
                    img(src="/images/bag.png", alt="Картинка")
                    .advantages_block
                        h4.advantages_title To the moon and back
                        p.advantages_text Discover the women’s ready-to-wear pieces and accessories from the fall-winter 2018 collection. Discover the women’s ready-to-wear pieces and
    .present-wrapper
        .container
            .container-small
                .bouquet-slider
                    .bouquet-slider_title
                        img.logo-img(src="/images/logo.svg", alt="Логотип Raccoon Flowers")
                    .owl-carousel.owl-theme.bouquet-slider_wrapp
                        .bouquet-slider_item
                            p.flower-title TO THE MOON AND BACK
                            p.flower-text Сhoose a beautiful and comfortable coat
                            p.flower-price <span>7 500</span> рублей
                            img(src="/images/flower-big.png", alt="Букет")
                        .bouquet-slider_item
                            p.flower-title TO THE MOON AND BACK
                            p.flower-text Сhoose a beautiful and comfortable coat
                            p.flower-price <span>7 500</span> рублей
                            img(src="/images/flower-big.png", alt="Букет")
                        .bouquet-slider_item
                            p.flower-title TO THE MOON AND BACK
                            p.flower-text Сhoose a beautiful and comfortable coat
                            p.flower-price <span>7 500</span> рублей
                            img(src="/images/flower-big.png", alt="Букет")
                    p.youshow
                    a.show-more(href="/catalog") Смотреть
