extends ../app

block main
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item
                a(href="/admin/size") Размеры
            li.breadcrumb-item.active(aria-current="page")
                if size
                    | #{size.title}
                else
                    | Новый размер
    .container-fluid
        .row
            .col-lg-4
                form(action="/admin/size/update", method="POST")
                    if size
                        input(type="hidden", name="id", value=size._id)
                    .form-group
                        label(for="exampleInputEmail1") Название цветка
                        if size
                            - var title = size.title
                        else
                            - var title = null
                        input#title.form-control(type="text", name="title", value= title)
                    button.btn.btn-success(type="submit") Сохранение