extends ../app

block main
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item
                a(href="/admin/color") Цветовая схема
            li.breadcrumb-item.active(aria-current="page")
                if color
                    | #{color.title}
                else
                    | Новая цветовая схема
    .container-fluid
        .row
            .col-lg-4
                form(action="/admin/color/update", method="POST")
                    if color
                        input(type="hidden", name="id", value=color._id)
                    .form-group
                        label(for="exampleInputEmail1") Название цветовой схемы
                        if color
                            - var title = color.title
                        else
                            - var title = null
                        input#title.form-control(type="text", name="title", value= title)
                    button.btn.btn-success(type="submit") Сохранение