@font-face {
  font-family: 'Helvetica Neue';
  src: url("/fonts/HelveticaNeue.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeue.woff2") format("woff2"), url("/fonts/HelveticaNeue.woff") format("woff"), url("/fonts/HelveticaNeue.ttf") format("truetype"), url("/fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica';
  src: url("/fonts/Helvetica.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Helvetica.eot?#iefix") format("embedded-opentype"), url("/fonts/Helvetica.woff2") format("woff2"), url("/fonts/Helvetica.woff") format("woff"), url("/fonts/Helvetica.ttf") format("truetype"), url("/fonts/Helvetica.svg#Helvetica") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gill Sans';
  src: url("/fonts/GillSans.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/GillSans.eot?#iefix") format("embedded-opentype"), url("/fonts/GillSans.woff2") format("woff2"), url("/fonts/GillSans.woff") format("woff"), url("/fonts/GillSans.ttf") format("truetype"), url("/fonts/GillSans.svg#GillSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GillSans-SemiBold';
  src: url("/fonts/GillSans-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/GillSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("/fonts/GillSans-SemiBold.woff2") format("woff2"), url("/fonts/GillSans-SemiBold.woff") format("woff"), url("/fonts/GillSans-SemiBold.ttf") format("truetype"), url("/fonts/GillSans-SemiBold.svg#GillSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Baskerville';
  src: url("/fonts/Baskerville.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Baskerville.eot?#iefix") format("embedded-opentype"), url("/fonts/Baskerville.woff2") format("woff2"), url("/fonts/Baskerville.woff") format("woff"), url("/fonts/Baskerville.ttf") format("truetype"), url("/fonts/Baskerville.svg#GillSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Futura-Bold';
  src: url("/fonts/Baskerville.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/Futura-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Futura-Bold.woff2") format("woff2"), url("/fonts/Futura-Bold.woff") format("woff"), url("/fonts/Futura-Bold.ttf") format("truetype"), url("/fonts/Futura-Bold.svg#GillSans") format("svg");
  font-weight: normal;
  font-style: normal; }

.catalog-wrapp {
  padding-top: 116px; }
  @media screen and (max-width: 1200px) {
    .catalog-wrapp {
      padding-top: 76px; } }

.sidebar {
  width: 19%; }
  @media screen and (max-width: 992px) {
    .sidebar {
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: auto;
      min-height: 100vh;
      background: #fff;
      z-index: 100;
      transform: translateX(-300px);
      transition: all .4s;
      border-top: none;
      padding-top: 70px; } }
  .sidebar-close {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px; }
  .sidebar_active {
    transform: translateX(0); }

.checkbox-block {
  display: block; }
  @media screen and (max-width: 992px) {
    .checkbox-block {
      display: none;
      margin-top: 10px;
      padding-left: 25px; } }

.catalog-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"]:checked + .avtor-bouquet:after {
    background: #707070; }
    @media screen and (max-width: 992px) {
      input[type="checkbox"]:checked + .avtor-bouquet:after {
        background: #CFBC9E; } }
  input[type="checkbox"]:checked + .filter-check:before {
    background: #9B9B9B; }

label.avtor-bouquet {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  color: #707070;
  padding-left: 15px;
  position: relative; }
  label.avtor-bouquet.under {
    border-bottom: 1px solid #B5B5B5;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    @media screen and (max-width: 1200px) {
      label.avtor-bouquet.under {
        padding-bottom: 10px;
        margin-bottom: 10px; } }
  @media screen and (max-width: 1200px) {
    label.avtor-bouquet {
      padding-left: 5px; } }
  @media screen and (max-width: 992px) {
    label.avtor-bouquet {
      color: #CFBC9E; } }

label.avtor-bouquet:after {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  box-shadow: 0 0 0 1px #707070;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  right: 15px; }
  @media screen and (max-width: 992px) {
    label.avtor-bouquet:after {
      box-shadow: 0 0 0 1px #CFBC9E; } }

.filter-block {
  margin-top: 70px;
  padding-left: 15px; }
  @media screen and (max-width: 1200px) {
    .filter-block {
      margin-top: 30px;
      padding-left: 0; } }
  @media screen and (max-width: 992px) {
    .filter-block {
      padding: 15px 0;
      border-bottom: 1px solid #B5B5B5;
      margin-top: 0; } }
  @media screen and (max-width: 992px) {
    .filter-block_first {
      margin-top: 20px; } }

.filter-title {
  font-family: 'GillSans-SemiBold';
  font-size: 13px;
  color: #707070;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 40px; }
  @media screen and (max-width: 1200px) {
    .filter-title {
      margin-bottom: 15px; } }
  @media screen and (max-width: 992px) {
    .filter-title {
      margin-bottom: 0;
      padding-left: 25px; } }
  .filter-title:after {
    content: '';
    width: 14px;
    height: 1px;
    background: #707070;
    display: block;
    position: absolute;
    right: 15px;
    top: 50%; }
    @media screen and (max-width: 1200px) {
      .filter-title:after {
        width: 10px; } }
    @media screen and (max-width: 992px) {
      .filter-title:after {
        width: 5px;
        height: 5px;
        border-bottom: 1px solid #707070;
        border-right: 1px solid #707070;
        background: transparent;
        transform: rotate(-45deg) translate(0, -5px); } }

label.filter-check {
  display: block;
  font-size: 14px;
  color: #707070;
  padding-left: 30px;
  position: relative;
  padding: 4px 0;
  padding-left: 46px; }
  label.filter-check.light {
    margin-bottom: 20px; }
  @media screen and (max-width: 1200px) {
    label.filter-check {
      padding-left: 25px; } }

label.filter-check:before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  box-shadow: 0 0 0 1px #9B9B9B;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%); }

.input-search-flowers {
  border: none;
  border-bottom: 1px solid #707070;
  width: 100%;
  margin-top: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: #707070; }
  @media screen and (max-width: 1200px) {
    .input-search-flowers {
      padding-left: 5px;
      padding-bottom: 5px; } }
  .input-search-flowers::-webkit-input-placeholder {
    color: #CFBC9E;
    font-family: 'Gill Sans'; }
  .input-search-flowers:-moz-placeholder {
    color: #CFBC9E;
    font-family: 'Gill Sans'; }
  .input-search-flowers::-moz-placeholder {
    color: #CFBC9E;
    font-family: 'Gill Sans'; }
  .input-search-flowers:-ms-input-placeholder {
    color: #CFBC9E;
    font-family: 'Gill Sans'; }

label.search-flowers {
  display: block;
  position: relative;
  padding-left: 15px;
  font-size: 12px; }
  @media screen and (max-width: 1200px) {
    label.search-flowers {
      padding-left: 5px; } }
  label.search-flowers img {
    position: absolute;
    right: 10px;
    top: -27px;
    cursor: pointer; }
    @media screen and (max-width: 1200px) {
      label.search-flowers img {
        right: 5px;
        width: 18px; } }

.reset-all {
  color: #707070;
  padding-bottom: 5px;
  display: inline-block;
  margin-left: 15px;
  margin-top: 70px;
  border-bottom: 1px solid #707070;
  transition: all .3s; }
  @media screen and (max-width: 1200px) {
    .reset-all {
      margin-top: 30px; } }
  .reset-all:hover {
    border-bottom-color: transparent; }

.catalog-content {
  display: block;
  width: 78%; }
  @media screen and (max-width: 992px) {
    .catalog-content {
      width: 100%; } }

.select-block {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 992px) {
    .select-block {
      align-items: flex-start; } }

@media screen and (max-width: 992px) {
  .select-wrapp {
    display: flex;
    align-items: center; } }

.burger-filter {
  display: none; }
  @media screen and (max-width: 992px) {
    .burger-filter {
      display: inline-block; } }

.select-text {
  text-transform: uppercase;
  color: #707070; }
  @media screen and (max-width: 992px) {
    .select-text {
      margin-left: 30px;
      color: #CFBC9E; } }
  @media screen and (max-width: 576px) {
    .select-text {
      margin-left: 5px;
      font-size: 11px; } }

.select-wrapper {
  display: none; }
  @media screen and (max-width: 992px) {
    .select-wrapper {
      display: block;
      position: relative;
      width: 175px; } }
  @media screen and (max-width: 576px) {
    .select-wrapper {
      width: 165px; } }

.select-wrapper select {
  width: 175px;
  height: 22px;
  padding: 0 20px 0 7px;
  background: transparent;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #CFBC9E;
  outline: none; }
  @media screen and (max-width: 576px) {
    .select-wrapper select {
      width: 165px; } }

.select-wrapper select::-ms-expand {
  display: none; }

.select-arrow {
  position: absolute;
  z-index: -9999;
  border: 6px solid transparent;
  border-bottom: 0;
  right: 14px; }

.select-arrow:nth-child(1) {
  top: 9px;
  border-top-color: #CFBC9E; }

.select-arrow:nth-child(2) {
  top: 6px;
  border-top-color: #FFF; }

.choise-block {
  display: inline-block; }
  @media screen and (max-width: 992px) {
    .choise-block {
      display: none; } }

input[type='radio'] {
  display: none; }
  input[type='radio']:checked + .input-choise {
    color: #CFBC9E; }

.input-choise {
  color: #707070;
  margin: 0 18px;
  font-size: 13px; }
  @media screen and (max-width: 1200px) {
    .input-choise {
      margin: 0 13px; } }

.select-number {
  font-size: 13px; }
  @media screen and (max-width: 576px) {
    .select-number {
      display: none; } }

.catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap; }

.catalog-item {
  width: 32%;
  color: #CFBC9E;
  font-family: 'Baskerville'; }
  .catalog-item_text {
    text-align: center;
    margin-top: 7px;
    font-size: 11px; }
  .catalog-item_price {
    text-align: center;
    font-size: 11px;
    font-family: 'GillSans-SemiBold';
    margin-top: 25px; }
  .catalog-item:hover .more {
    opacity: 1; }
  @media screen and (max-width: 750px) {
    .catalog-item {
      width: 47%; } }
  @media screen and (max-width: 576px) {
    .catalog-item {
      margin-top: 15px; } }

.catalog-picture {
  height: 600px;
  border: 1px solid #707070;
  position: relative; }
  @media screen and (max-width: 1200px) {
    .catalog-picture {
      height: 400px; } }
  @media screen and (max-width: 576px) {
    .catalog-picture {
      height: 280px; } }

.elect {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 22px;
  cursor: pointer; }

.title-link {
  display: block;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  color: #CFBC9E;
  margin-top: 27px; }

.more {
  display: block;
  width: 140px;
  padding: 10px 0;
  border: 1px solid #CFBC9E;
  color: #CFBC9E;
  text-transform: uppercase;
  background: transparent;
  margin: 0 auto;
  margin-top: 30px;
  opacity: 0;
  transition: all .3s;
  font-family: 'Futura-Bold';
  font-size: 11px;
  cursor: pointer; }
  .more:hover {
    background: #CFBC9E;
    color: #fff; }

.youshow {
  color: #707070;
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 22px;
  position: relative; }
  @media screen and (max-width: 992px) {
    .youshow {
      width: 160px;
      margin: 0 auto; } }
  @media screen and (max-width: 992px) {
    .youshow span {
      display: none; } }
  @media screen and (max-width: 992px) {
    .youshow:before {
      content: '';
      width: 14px;
      height: 14px;
      display: block;
      border-radius: 50%;
      background: #CFBC9E;
      position: absolute;
      top: -20px;
      right: -50px; } }
  @media screen and (max-width: 992px) {
    .youshow:after {
      content: '';
      width: 5px;
      height: 5px;
      display: block;
      border-radius: 50%;
      background: #CFBC9E;
      position: absolute;
      top: -10px;
      right: -68px; } }

.show-more {
  display: block;
  width: 160px;
  padding: 10px 0;
  border: 1px solid #CFBC9E;
  color: #fff;
  text-transform: uppercase;
  background: #CFBC9E;
  margin: 0 auto;
  margin-top: 30px;
  transition: all .3s;
  font-size: 11px;
  cursor: pointer;
  position: relative; }
  @media screen and (max-width: 992px) {
    .show-more:before {
      content: '';
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 50%;
      background: #CFBC9E;
      position: absolute;
      top: -60px;
      left: -30px; } }
  @media screen and (max-width: 992px) {
    .show-more:after {
      content: '';
      width: 5px;
      height: 5px;
      display: block;
      border-radius: 50%;
      background: #CFBC9E;
      position: absolute;
      top: -40px;
      left: -48px; } }

.bucket-main_img {
  text-align: center;
  padding-top: 30px; }
  @media screen and (max-width: 768px) {
    .bucket-main_img img {
      width: 70%; } }
  @media screen and (max-width: 576px) {
    .bucket-main_img img {
      width: 40%; } }

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px; }
  .order-table th {
    border-bottom: 1px solid #E4E4E4;
    padding: 10px 0;
    text-transform: uppercase;
    color: #707070; }
    @media screen and (max-width: 992px) {
      .order-table th {
        font-size: 9px; } }
    @media screen and (max-width: 768px) {
      .order-table th {
        font-size: 7px;
        font-weight: normal; } }
  .order-table td {
    border-bottom: 1px solid #E4E4E4;
    padding-top: 30px;
    padding-bottom: 3px; }
    @media screen and (max-width: 768px) {
      .order-table td {
        padding-top: 20px;
        padding-bottom: 20px; } }

.first-td {
  text-align: center;
  padding-left: 200px; }
  @media screen and (max-width: 1600px) {
    .first-td {
      padding-left: 150px; } }
  @media screen and (max-width: 1400px) {
    .first-td {
      padding-left: 0; } }
  @media screen and (max-width: 768px) {
    .first-td img {
      width: 70%; } }

.flower-name {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
  color: #707070; }
  @media screen and (max-width: 992px) {
    .flower-name {
      font-size: 9px; } }
  @media screen and (max-width: 768px) {
    .flower-name {
      text-align: left; } }

.flower-desc {
  font-size: 16px;
  font-family: 'Baskerville';
  text-align: center;
  color: #707070; }
  @media screen and (max-width: 992px) {
    .flower-desc {
      font-size: 10px; } }
  @media screen and (max-width: 768px) {
    .flower-desc {
      text-align: left; } }

.flower-size {
  text-align: center; }
  .flower-size label {
    width: 25px;
    height: 25px;
    background: transparent;
    color: #707070;
    border-radius: 50%;
    line-height: 25px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    transition: all .3s;
    cursor: pointer;
    outline: none; }
    @media screen and (max-width: 992px) {
      .flower-size label {
        font-size: 13px; } }
  .flower-size input[type='radio']:checked + label {
    background: #707070;
    color: #fff; }
    @media screen and (max-width: 992px) {
      .flower-size input[type='radio']:checked + label {
        background: transparent;
        color: #707070; } }
  @media screen and (max-width: 768px) {
    .flower-size .label-size-none {
      display: none; } }

.arrow-up-size,
.arrow-down-size,
.arrow-up-number,
.arrow-down-number {
  display: none; }
  @media screen and (max-width: 768px) {
    .arrow-up-size,
    .arrow-down-size,
    .arrow-up-number,
    .arrow-down-number {
      display: block;
      margin: 0 auto;
      width: 13px;
      height: 13px;
      background: #fff;
      border: none;
      border-bottom: 1px solid #707070;
      border-right: 1px solid #707070; } }
  @media screen and (max-width: 576px) {
    .arrow-up-size,
    .arrow-down-size,
    .arrow-up-number,
    .arrow-down-number {
      width: 7px;
      height: 7px;
      box-sizing: border-box;
      padding: 0; } }

.arrow-up-number,
.arrow-up-size {
  transform: rotate(-135deg) translate(5px, 5px); }

.arrow-down-number,
.arrow-down-size {
  transform: rotate(45deg) translate(5px, 5px); }

.flower-count {
  text-align: center; }

.flower-acount {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
  color: #707070; }
  @media screen and (max-width: 992px) {
    .flower-acount {
      display: block;
      font-size: 13px;
      line-height: 25px; } }

.flower-plus,
.flower-minus {
  font-size: 20px;
  line-height: 22px;
  vertical-align: middle;
  height: 30px;
  color: #707070;
  background: transparent;
  border: none;
  cursor: pointer; }
  @media screen and (max-width: 992px) {
    .flower-plus,
    .flower-minus {
      display: none; } }

.flower-plus {
  margin-left: 10px; }

.flower-minus {
  margin-right: 10px; }

.flower-cost {
  text-align: center;
  font-size: 14px;
  color: #707070;
  padding-right: 210px; }
  @media screen and (max-width: 1600px) {
    .flower-cost {
      padding-right: 160px; } }
  @media screen and (max-width: 1400px) {
    .flower-cost {
      padding-right: 0; } }
  @media screen and (max-width: 992px) {
    .flower-cost {
      font-size: 11px; } }
  @media screen and (max-width: 768px) {
    .flower-cost {
      display: none; } }
  .flower-cost_mobile {
    display: none; }
    @media screen and (max-width: 768px) {
      .flower-cost_mobile {
        display: block;
        text-align: left;
        color: #707070;
        margin-top: 15px;
        font-size: 11px; } }

.last-th {
  padding-right: 200px !important; }
  @media screen and (max-width: 1600px) {
    .last-th {
      padding-right: 160px !important; } }
  @media screen and (max-width: 1400px) {
    .last-th {
      padding-right: 0 !important; } }
  @media screen and (max-width: 768px) {
    .last-th {
      display: none; } }

.continue-buy {
  padding-top: 115px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .continue-buy {
      padding-top: 20px;
      flex-direction: column; } }

.promo-code {
  display: flex;
  align-items: center; }
  .promo-code input {
    width: 360px;
    padding: 11px 15px;
    font-size: 11px;
    color: #CFBC9E;
    border: 1px solid #707070; }
    .promo-code input::-webkit-input-placeholder {
      transform: translateY(5px);
      font-size: 11px;
      font-family: 'Gill Sans'; }
      @media screen and (max-width: 768px) {
        .promo-code input::-webkit-input-placeholder {
          transform: none; } }
    .promo-code input:-moz-placeholder {
      transform: translateY(5px);
      font-size: 11px;
      font-family: 'Gill Sans'; }
      @media screen and (max-width: 768px) {
        .promo-code input:-moz-placeholder {
          transform: none; } }
    .promo-code input::-moz-placeholder {
      transform: translateY(5px);
      font-size: 11px;
      font-family: 'Gill Sans'; }
      @media screen and (max-width: 768px) {
        .promo-code input::-moz-placeholder {
          transform: none; } }
    .promo-code input:-ms-input-placeholder {
      transform: translateY(5px);
      font-size: 11px;
      font-family: 'Gill Sans'; }
      @media screen and (max-width: 768px) {
        .promo-code input:-ms-input-placeholder {
          transform: none; } }
    @media screen and (max-width: 992px) {
      .promo-code input {
        width: 75%;
        height: 34px; } }
    @media screen and (max-width: 768px) {
      .promo-code input {
        width: 100%; } }
  .promo-code .send-promocode {
    padding: 10px 35px;
    background: transparent;
    transition: all .3s;
    color: #707070;
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Futura-Bold';
    border: 1px solid #707070;
    margin-left: 20px;
    cursor: pointer; }
    .promo-code .send-promocode:hover {
      color: #fff;
      background: #707070; }
    @media screen and (max-width: 992px) {
      .promo-code .send-promocode {
        width: 35%;
        padding: 10px 0;
        margin-left: 0;
        background: #707070;
        color: #fff;
        font-size: 7px;
        height: 34px;
        display: inline-block; } }
    @media screen and (max-width: 768px) {
      .promo-code .send-promocode {
        display: none; } }

.back-to-shop {
  width: 360px;
  border: 1px solid #707070;
  padding: 10px 35px;
  background: transparent;
  color: #707070;
  margin-top: 180px;
  cursor: pointer;
  transition: all .3s;
  text-transform: uppercase;
  font-size: 13px; }
  .back-to-shop:hover {
    color: #fff;
    background: #707070; }
  @media screen and (max-width: 992px) {
    .back-to-shop {
      font-size: 7px;
      width: 75%;
      margin-top: 100px; } }
  @media screen and (max-width: 768px) {
    .back-to-shop {
      display: none; } }
  .back-to-shop_mobile {
    display: none; }
    @media screen and (max-width: 768px) {
      .back-to-shop_mobile {
        display: inline-block;
        width: 40vw;
        border: 1px solid #707070;
        background: transparent;
        font-size: 7px;
        text-transform: uppercase;
        padding: 10px 0;
        margin-right: 5vw; } }

.all-cost {
  width: 35%; }
  @media screen and (max-width: 1200px) {
    .all-cost {
      width: 40%; } }
  @media screen and (max-width: 768px) {
    .all-cost {
      width: 100%;
      padding-top: 20px; } }

.calc {
  display: flex;
  justify-content: space-around; }
  .calc-text {
    text-transform: uppercase;
    font-size: 11px;
    color: #707070;
    padding-top: 5px; }
    @media screen and (max-width: 992px) {
      .calc-text {
        padding-top: 0; } }
    .calc-text_so {
      font-weight: bold;
      padding-top: 3px; }
      @media screen and (max-width: 992px) {
        .calc-text_so {
          font-size: 8px; } }
    .calc-text_main {
      margin-bottom: 15px; }
      @media screen and (max-width: 992px) {
        .calc-text_main {
          font-size: 8px; } }
  .calc-cost {
    font-size: 14px;
    color: #707070;
    margin-bottom: 8px; }
    @media screen and (max-width: 992px) {
      .calc-cost {
        font-size: 11px;
        margin-bottom: 12px; } }
    .calc-cost span {
      text-transform: uppercase;
      font-size: 20px; }
      @media screen and (max-width: 992px) {
        .calc-cost span {
          font-size: 11px; } }
  .calc-free {
    text-transform: uppercase;
    color: #707070;
    font-size: 11px;
    margin-bottom: 10px; }
    @media screen and (max-width: 992px) {
      .calc-free {
        font-size: 6px;
        margin-bottom: 16px; } }
    .calc-free span {
      font-size: 13px; }
      @media screen and (max-width: 992px) {
        .calc-free span {
          font-size: 6px; } }

.continue-order {
  margin-left: auto;
  display: block;
  padding: 10px 0;
  background: #707070;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #707070;
  width: 70%;
  margin-top: 142px;
  font-size: 13px;
  transition: all .3s;
  cursor: pointer; }
  .continue-order:hover {
    background: transparent;
    color: #707070; }
  @media screen and (max-width: 992px) {
    .continue-order {
      font-size: 7px;
      width: 75%;
      margin-top: 58px; } }
  @media screen and (max-width: 768px) {
    .continue-order {
      width: 51vw;
      display: inline-block; } }

body {
  font-family: 'Gill Sans';
  font-size: 12px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.02em;
  color: #CFBC9E; }

div, p, form, input, a, span, button {
  box-sizing: border-box; }

ul, li {
  display: block;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

a, a:hover, a:active {
  text-decoration: none; }

a:focus {
  outline: none; }

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
  outline: none; }

.container {
  width: 93%;
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .container {
      width: 96%; } }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 90;
  display: none; }

.navigation {
  padding: 48px 0 34px; }
  @media screen and (max-width: 992px) {
    .navigation {
      padding: 30px 0 20px; } }

.search {
  cursor: pointer;
  width: 10%; }
  @media screen and (max-width: 992px) {
    .search {
      display: none; } }
  .search-block {
    padding: 25px 0;
    border-bottom: 1px solid #D3D3D3;
    text-align: center;
    display: none; }
    .search-block_mobile {
      display: none; }
      @media screen and (max-width: 992px) {
        .search-block_mobile {
          display: block; } }
      .search-block_mobile .search-field {
        display: none; }
        @media screen and (max-width: 992px) {
          .search-block_mobile .search-field {
            padding: 10px 20px;
            display: block;
            width: 50%;
            margin: 0 auto;
            opacity: 0;
            transition: all .3s; } }
        @media screen and (max-width: 576px) {
          .search-block_mobile .search-field {
            width: 85%;
            margin: 0;
            margin-left: auto; } }
      .search-block_mobile .active {
        opacity: 1; }
  .search-wrapp {
    position: relative; }
    .search-wrapp_mobile {
      display: none; }
      @media screen and (max-width: 992px) {
        .search-wrapp_mobile {
          display: flex;
          align-items: flex-start;
          position: relative; } }
      .search-wrapp_mobile .search-icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%); }
  .search-field {
    width: 70%;
    padding: 20px 30px;
    border: none;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    text-align: center;
    color: #CFBC9E; }
    .search-field::-webkit-input-placeholder {
      color: #D3D3D3;
      text-transform: uppercase;
      transform: translateX(25px); }
    .search-field:-moz-placeholder {
      color: #D3D3D3;
      text-transform: uppercase;
      transform: translateX(25px); }
    .search-field::-moz-placeholder {
      color: #D3D3D3;
      text-transform: uppercase;
      transform: translateX(25px); }
    .search-field:-ms-input-placeholder {
      color: #D3D3D3;
      text-transform: uppercase;
      transform: translateX(25px); }
  .search-icon-input {
    transform: translate(-30px, 12px); }
  .search-close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer; }

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.burger {
  display: none; }
  @media screen and (max-width: 992px) {
    .burger {
      display: block;
      width: 10%; } }
  @media screen and (max-width: 576px) {
    .burger {
      width: 20%; } }

.logo-img {
  max-height: 55px;
  width: 100%;
  margin: 0 auto; }
  @media screen and (max-width: 576px) {
    .logo-img {
      max-height: 35px;
      width: 50%;
      display: block; } }

.inter {
  display: flex;
  align-items: center; }
  @media screen and (max-width: 992px) {
    .inter {
      justify-content: space-between;
      width: 10%; } }
  @media screen and (max-width: 576px) {
    .inter {
      width: 20%; } }
  .inter .sign-wrapp {
    margin: 0 15px; }
    @media screen and (max-width: 992px) {
      .inter .sign-wrapp {
        display: none; } }
    .inter .sign-wrapp .cabinet {
      font-family: 'Helvetica Neue';
      font-size: 12px;
      text-transform: uppercase; }
    .inter .sign-wrapp .sign-link {
      font-family: 'Helvetica';
      font-size: 9px;
      color: #CFBC9E; }
  .inter img {
    margin-top: -15px;
    cursor: pointer; }

.nav-menu {
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  padding: 20px 0 22px; }
  @media screen and (max-width: 1200px) {
    .nav-menu {
      padding-bottom: 2px; } }
  @media screen and (max-width: 992px) {
    .nav-menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 300px;
      height: 100vh;
      background: #fff;
      z-index: 100;
      transform: translateX(-300px);
      transition: all .4s;
      border-top: none; } }
  .nav-menu_active {
    transform: translateX(0); }

.menu {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 1200px) {
    .menu {
      flex-wrap: wrap; } }
  @media screen and (max-width: 992px) {
    .menu {
      height: calc(100vh - 80px);
      padding: 40px 0; } }
  .menu-item {
    transition: all .2s; }
    .menu-item:hover {
      transform: scale(1.05); }
    @media screen and (max-width: 1200px) {
      .menu-item {
        width: 22%;
        margin-bottom: 20px;
        text-align: center; } }
    @media screen and (max-width: 992px) {
      .menu-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        border-bottom: 1px solid #B5B5B5; } }
    .menu-item:last-child {
      border-bottom: none; }
  .menu-link {
    text-transform: uppercase;
    font-size: 12px;
    color: #CFBC9E; }
  .menu-close {
    display: none; }
    @media screen and (max-width: 992px) {
      .menu-close {
        position: absolute;
        top: 15px;
        right: 15px;
        display: block; } }

.footer {
  margin-top: 170px; }
  @media screen and (max-width: 1200px) {
    .footer {
      margin-top: 120px; } }
  @media screen and (max-width: 576px) {
    .footer {
      margin-top: 60px; } }
  .footer-main-info {
    padding: 25px 0;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    display: flex;
    align-items: center; }
    @media screen and (max-width: 576px) {
      .footer-main-info {
        flex-direction: column;
        justify-content: center; } }
  .footer .messenger {
    margin: 0 24px 0 50px; }
    @media screen and (max-width: 768px) {
      .footer .messenger {
        margin: 0 5px 0 20px; } }
    @media screen and (max-width: 576px) {
      .footer .messenger {
        margin-left: 0;
        margin-top: 10px; } }
  .footer-phone {
    font-size: 13px;
    color: #707070; }
    @media screen and (max-width: 576px) {
      .footer-phone {
        margin-top: 10px; } }
  .footer-social {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 363px; }
    @media screen and (max-width: 1200px) {
      .footer-social {
        margin-left: auto; } }
    @media screen and (max-width: 576px) {
      .footer-social {
        margin-left: 0;
        margin-top: 20px;
        flex-direction: column; } }
    @media screen and (max-width: 576px) {
      .footer-social_link {
        margin-top: 10px; } }
  .footer-all-info {
    padding-top: 43px;
    padding-bottom: 72px;
    border-bottom: 1px solid #D3D3D3;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 576px) {
      .footer-all-info {
        padding-bottom: 10px; } }
  .footer-info-text {
    display: flex;
    width: 45%;
    justify-content: space-between; }
    @media screen and (max-width: 1200px) {
      .footer-info-text {
        width: 55%; } }
    @media screen and (max-width: 992px) {
      .footer-info-text {
        width: 90%; } }
    @media screen and (max-width: 576px) {
      .footer-info-text {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; } }
  .footer .title-info {
    font-size: 11px;
    color: #CFBC9E;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 40px; }
  @media screen and (max-width: 576px) {
    .footer .list-info {
      display: none; } }
  .footer .list-info_item {
    margin-bottom: 4px; }
  .footer .list-info_link {
    font-size: 12px;
    color: #707070; }
  @media screen and (max-width: 992px) {
    .footer .subscribe {
      display: none; } }
  .footer .subscribe input {
    border: none;
    padding: 15px 0;
    padding-left: 25px;
    width: 265px; }
    @media screen and (max-width: 1200px) {
      .footer .subscribe input {
        width: 190px;
        padding-left: 10px; } }
  .footer .subscribe-send {
    padding: 15px 25px;
    background: #CFBC9E;
    border: none;
    text-transform: uppercase;
    border: 1px solid #CFBC9E;
    color: #fff;
    cursor: pointer;
    transition: all .3s; }
    @media screen and (max-width: 1200px) {
      .footer .subscribe-send {
        padding: 13px 20px; } }
    .footer .subscribe-send:hover {
      color: #CFBC9E;
      background: #fff; }
  .footer .subscribe_mobile {
    display: none; }
    @media screen and (max-width: 992px) {
      .footer .subscribe_mobile {
        display: flex;
        padding-bottom: 30px;
        padding-top: 30px;
        border-top: 1px solid #D3D3D3; } }
    @media screen and (max-width: 576px) {
      .footer .subscribe_mobile {
        display: none; } }
    .footer .subscribe_mobile .subscribe-send {
      padding: 11px 45px;
      display: inline-block;
      margin-left: auto; }
    .footer .subscribe_mobile input {
      border: none;
      padding: 11px 0;
      padding-left: 25px;
      width: auto; }
  .footer .title-info_mobile {
    display: none; }
    @media screen and (max-width: 992px) {
      .footer .title-info_mobile {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 10px;
        text-transform: uppercase;
        padding-bottom: 10px; } }
    @media screen and (max-width: 576px) {
      .footer .title-info_mobile {
        display: none; } }
  .footer-logo {
    padding-top: 50px;
    padding-bottom: 85px; }
    @media screen and (max-width: 768px) {
      .footer-logo {
        padding: 30px 0 45px; } }
    @media screen and (max-width: 576px) {
      .footer-logo {
        display: none; } }
    .footer-logo .logo-img {
      max-height: 45px; }
