extends ../app

block main

    .container
        .product-wrapper        
            .product-view
                ul.picture-list
                    li.picture-item
                       img(src="/images/bouquets/bouquet1.png" alt="букет") 
                    li.picture-item
                       img(src="/images/bouquets/bouquet1.png" alt="букет") 
                    li.picture-item
                       img(src="/images/bouquets/bouquet1.png" alt="букет") 
                    li.picture-item
                       img(src="/images/bouquets/bouquet1.png" alt="букет") 
                    li.picture-item
                       img(src="/images/bouquets/bouquet1.png" alt="букет") 
                    li.picture-item
                       img(src="/images/bouquets/bouquet1.png" alt="букет")
                .picture-screen
                    span.prev-arrow
                        img(src="/images/prev-arrow.png" alt="назад")
                    span.next-arrow
                        img(src="/images/next-arrow.png" alt="вперед")
                    img.picture-img(src="/images/flower-big.png" alt="букет")
            .product-title
                p.flower-title TO THE MOON AND BACK
                p.flower-text Сhoose a beautiful and comfortable coat
                p.flower-price <span>7 500</span> рублей
                .slider-desc                    
                    .size-block                                       
                        input(type="radio", id="s-size", name="size-product" checked)
                        label(for="s-size" class="size-check") S
                        input(type="radio", id="m-size", name="size-product")
                        label(for="m-size" class="size-check label-size-none") M
                        input(type="radio", id="l-size", name="size-product")
                        label(for="l-size" class="size-check label-size-none") L
                        input(type="radio", id="xl-size", name="size-product")
                        label(for="xl-size" class="size-check label-size-none") XL
            .product-description                
                .tabs
                    ul.tabs__caption
                        li.active DESCRIPTION
                        li SHIPPING
                        li PAYMENT
                    .tabs__content.active
                        p The finest anemones and ranunculus in intensive ruby and cherry red color tones arranged with blue thistle make ‘Il Rubino’ a beautiful and sophisticated gift. The flowers will arrive in bud, ready to bloom and show off their full beauty. ‘Il Rubino’ comes in our Signature PANAMY 12oz refined canvas gift-bag with satin ribbon.
                        span Код продукта: 106 455
                    .tabs__content
                        p The finest anemones and ranunculus in intensive ruby and cherry red color tones arranged with blue thistle make ‘Il Rubino’ a beautiful and sophisticated gift. The flowers will arrive in bud, ready to bloom and show off their full beauty. ‘Il Rubino’ comes in our Signature PANAMY 12oz refined canvas gift-bag with satin ribbon.
                        span Код продукта: 108 999
                    .tabs__content
                        p The finest anemones and ranunculus in intensive ruby and cherry red color tones arranged with blue thistle make ‘Il Rubino’ a beautiful and sophisticated gift. The flowers will arrive in bud, ready to bloom and show off their full beauty. ‘Il Rubino’ comes in our Signature PANAMY 12oz refined canvas gift-bag with satin ribbon.
                        span Код продукта: 107 888
                .btn-wrapp
                    a.move-order.btn-order(href="#") Сделать заказ
                    a.buy-order.btn-order(href="#") Купить в 1 клик
        .clear            
        .buytoo
            p.buytoo-title Также вам может понравиться
            ul.bouquet-list
                li.bouquet-list_item
                    a(href="#")
                        img(src="/images/bouquets/bouquet1.png" alt="букет")
                        p.bouquet-title TO THE MOON AND BACK
                        p.bouquet-text Сhoose a beautiful and comfortable coat
                        p.bouquet-price <span>7 500</span> рублей
                li.bouquet-list_item
                    a(href="#")
                        img(src="/images/bouquets/bouquet4.png" alt="букет")
                        p.bouquet-title TO THE MOON AND BACK
                        p.bouquet-text Сhoose a beautiful and comfortable coat
                        p.bouquet-price <span>7 500</span> рублей
                li.bouquet-list_item
                    a(href="#")
                        img(src="/images/bouquets/bouquet1.png" alt="букет")
                        p.bouquet-title TO THE MOON AND BACK
                        p.bouquet-text Сhoose a beautiful and comfortable coat
                        p.bouquet-price <span>7 500</span> рублей
                li.bouquet-list_item
                    a(href="#")
                        img(src="/images/bouquets/bouquet2.png" alt="букет")
                        p.bouquet-title TO THE MOON AND BACK
                        p.bouquet-text Сhoose a beautiful and comfortable coat
                        p.bouquet-price <span>7 500</span> рублей
                li.bouquet-list_item
                    a(href="#")
                        img(src="/images/bouquets/bouquet3.png" alt="букет")
                        p.bouquet-title TO THE MOON AND BACK
                        p.bouquet-text Сhoose a beautiful and comfortable coat
                        p.bouquet-price <span>7 500</span> рублей

        

    //- .container-fluid
    //-     h1 #{bouquet.title}
    //-     ul
    //-         each flower in bouquet.flower
    //-             li= flower.title