extends ../app

block main
    nav(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item.active(aria-current="page") Цветы
    .container-fluid
        table.table
            thead
                tr
                    th Название
            tbody
                each flower in flowers.docs
                    tr
                        td
                            a(href="/admin/flower/" + flower.id)= flower.title
        nav(aria-label="Page navigation example")
            ul.pagination
                - var n = 1;
                while n <= flowers.pages
                    if flowers.page == n
                        - var li_class = "page-item active"
                    else
                        - var li_class = "page-item"
                    li(class= li_class)
                        a.page-link(href="/admin/flower?p=" + n)= n
                    - n++
        a.btn.btn-primary(href="/admin/flower/create") Добавить цветок