extends ../app

block main

  .not-found
    p.soon Coming<br>soon
    p.guest Уважаемые гости!
    p.development Раздел находится на стадии разработки.<br>Приносим свои извинения
    a.move-back(href="/") Вернуться назад
    