extends ../app

block main

  .container
    .info-wrapper
      .sidebar-info
        ul.footer-info-text
          li.footer-info-text_item
              h6.title-info Racconflowers.com
          li.footer-info-text_item
              h6.title-info О нас
              ul.list-info
                  li.list-info_item
                      a.list-info_link(href="#") О компания
                  li.list-info_item
                      a.list-info_link(href="#") FAQs
                  li.list-info_item
                      a.list-info_link(href="#") Сотрудничество
                  li.list-info_item
                      a.list-info_link(href="#") Связаться с нами
          li.footer-info-text_item                        
              h6.title-info Сервис
              ul.list-info
                  li.list-info_item
                      a.list-info_link(href="#") Доставка
                  li.list-info_item
                      a.list-info_link(href="#") Оплата
                  li.list-info_item
                      a.list-info_link(href="#") Возврат
                  li.list-info_item
                      a.list-info_link(href="#") Консьерж-сервис
                  li.list-info_item
                      a.list-info_link(href="#") Подарочные карты
                  li.list-info_item
                      a.list-info_link(href="#") Программа лояльности
          li.footer-info-text_item
              h6.title-info Информация
              ul.list-info
                  li.list-info_item
                      a.list-info_link(href="#") Политика<br> конфиденциальности
      .info-main
        p.info-title Политика конфиденциальности и обработки персональных данных
        p.info-desc Настоящая Политика конфиденциальности и обработки персональных данных разработаны ООО «Цветочный дом» ИНН 7708329162 (далее – «Продавец») в соответствии с требованиями законодательства Российской Федерации.
        ul.info-list
          li.info-item 1.Персональные данные - любая информация, относящаяся к прямо или косвенно к физическому лицу, которое оформило заказ на приобретение и доставку товаров, информация о которых размещена на Интернет-сайте https://floradelivery.ru/, и приняло все условия публичного договора купли-продажи товаров и оказания услуг (далее – «Покупатель»)    
          li.info-item 2. Обработка персональных данных - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных    
          li.info-item 3. Продавец обрабатывает персональные данные следующего круга физических лиц:
          li.info-item
            ul.personal-data
              li.item-data -физических лиц, сделавших заказ или зарегистрированных на Интернет-сайте;
              li.item-data -представителей контрагентов - юридических лиц;
              li.item-data -контрагентов - индивидуальных предпринимателей;
              li.item-data -работников Продавца;
              li.item-data -лиц, с которыми заключены договоры гражданско-правового характера;
              li.item-data -кандидатов на замещение вакантных должностей Продавца.
          li.info-item 4. Персональные данные вышеуказанных лиц обрабатываются в соответствии с ФЗ РФ «О персональных данных» № 152-ФЗ от 27.07.2006. 
          li.info-item 5. Продавец обрабатывает персональные данные только при наличии хотя бы одного из следующих условий:
          li.info-item 5.1.обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных;
          li.info-item 5.2.обработка персональных данных необходима для достижения целей, предусмотренных законом, для осуществления и выполнения возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей;
          li.info-item 5.3.обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;
          li.info-item 5.4.обработка персональных данных необходима для осуществления прав и законных интересов Продавца или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных;
          li.info-item 5.5.осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе;
          li.info-item 5.6.осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с федеральным законом.
          li.info-item 6. При регистрации на Интернет-сайте Покупатель предоставляет следующую информацию о себе: фамилия, имя, отчество, контактный номер телефона, адрес электронной почты, адрес доставки.
          li.info-item 7. Также при оформлении заказа Покупатель может предоставить следующую информацию, относящуюся к третьему лицу – получателю товара: фамилия, имя, отчество, контактный номер телефона, адрес электронной почты, адрес доставки.
          li.info-item 8. Регистрируясь или подписываясь на Интернет-сайте, Покупатель предоставляет указанные выше персональные данные Продавцу, тем самым соглашаясь на их обработку, хранение и распространение Продавцом, в том числе, в целях выполнения Продавцом обязательств перед Покупателем и получателем товаров и услуг, продвижения товаров и услуг, информирования Покупателя и получателя о товарах и услугах, контроля качества услуг, оказываемых Продавцом.
          li.info-item 9. Покупатель гарантирует, что получил согласие третьих лиц (получателей товаров и услуг), персональные данные которых Покупатель предоставляет Продавцу при заказе товаров и услуг, на их обработку и использование в целях исполнения Продавцом обязательств по публичному договору купли-продажи товаров и оказания услуг.
          li.info-item 10. Продавец вправе использовать технологию «cookies». «Cookies» не содержат конфиденциальную информацию. Покупатель настоящим дает согласие на сбор, анализ и испoльзование cookies, в том числе третьими лицами для целей формирования статистики и оптимизации рекламных сообщений.
          li.info-item 11.Продавец не несет ответственности за содержание и достоверность информации, предоставленной Покупателем при оформлении заказа, в том числе за указанные им персональные данные. Не считается нарушением предоставление Продавцом информации, полученной от Покупателя, агентам и третьим лицам, действующим на основании договора с Продавцом, для исполнения обязательств перед Покупателем, в том числе в целях информирования о рекламных акциях и спецпредложениях, но не ограничиваясь этим. Продавец требует, чтобы при обработке подобной информации эти агенты и третьи стороны следовали инструкциям Продавца и соблюдали настоящую политику конфиденциальности, а также принимали другие необходимые для защиты конфиденциальности меры.
          li.info-item 12. Продавец вправе осуществлять записи телефонных разговоров с Покупателем. При этом Продавец обязуется предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, и/или передачу ее третьим лицам, не имеющим непосредственного отношения к исполнению заказов Покупателя, в соответствии с п. 4 ст. 16 Федерального закона «Об информации, информационных технологиях и о защите информации».
          li.info-item 13. Продавец вправе поручить обработку персональных данных граждан третьим лицам, на основании заключаемого с этими лицами договора.
          li.info-item 14. В случаях, установленных законодательством Российской Федерации, Продавец вправе осуществлять передачу персональных данных граждан.
          li.info-item 15. Настоящая Политика конфиденциальности применяется только к Интернет-сайту https://floradelivery.ru/. Продавец не контролирует и не несет ответственности за сайты третьих лиц, на которые Покупатель может перейти по ссылкам, доступным на Интернет-сайте https://floradelivery.ru/
          li.info-item 16.Интеллектуальная собственность
          li.info-item 16.1.Вся информация и материалы, представленные на Интернет-сайте, включая товарные знаки, знаки обслуживания, объекты авторского и смежного права, являются собственность Продавца или аффилированных лиц.
          li.info-item 16.2.Любое использование информации и материалов Интернет-сайта возможно только на основании письменного разрешения Продавца при прямом упоминании Интернет-сайта и Продавца путем размещения ссылки на сайт и наименования Продавца (https://floradelivery.ru/, ООО «Цветочный дом»).
          li.info-item 17.Продавец вправе вносить изменения в настоящую Политику конфиденциальности в любое время по своему усмотрению. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Интернет-сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.