extends ../app

block main

  .thanks-block
    img(src="/images/thanks.png", alt="Спасибо")
    p.thanks-title Спасибо за Ваш заказ!
    p.thanks-text Наш менеджер свяжется с вами в ближайшее время для подтверждения заказа <span class="number-order">#345867</span>
