// Color
$m-color: #CFBC9E;
$grey: #707070;

// Mixin
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}


// Main Bucket

.bucket-main_img {
  text-align: center;
  padding-top: 30px;
  img {
    @media screen and (max-width:768px) {
      width: 70%;              
    }
    @media screen and (max-width:576px) {
      width: 40%;              
    }
  }
}

.order-table {
  width: 100%;  
  border-collapse: collapse;
  margin-top: 30px;
  th {
    border-bottom: 1px solid #E4E4E4;    
    padding: 10px 0;
    text-transform: uppercase;
    color: $grey;
    @media screen and (max-width:992px) {
      font-size: 9px;          
    }
    @media screen and (max-width:768px) {
      font-size: 7px;
      font-weight: normal;              
    }
  }
  td {
    border-bottom: 1px solid #E4E4E4;
    padding-top: 30px;
    padding-bottom: 3px;
    @media screen and (max-width:768px) {
        padding-top: 20px;
        padding-bottom: 20px;              
    }
  }
}

.first-td {
  text-align: center;
  padding-left: 200px;
  @media screen and (max-width:1600px) {
    padding-left: 150px;                
  }
  @media screen and (max-width:1400px) {
    padding-left: 0;                
  }
  img {
    @media screen and (max-width:768px) {
      width: 70%;              
    }
  }
}

.flower-name {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
  color: $grey;
  @media screen and (max-width:992px) {
    font-size: 9px;          
  }
  @media screen and (max-width:768px) {
    text-align: left;              
  }
}

.flower-desc {
  font-size: 16px;
  font-family: 'Baskerville';
  text-align: center;
  color: $grey;
  @media screen and (max-width:992px) {
    font-size: 10px;          
  }
  @media screen and (max-width:768px) {
    text-align: left;              
  }
}



.flower-size {
  text-align: center;
  label {
    width: 25px;
    height: 25px;
    background: transparent;  
    color: $grey;
    border-radius: 50%;
    line-height: 25px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    transition: all .3s;
    cursor: pointer;
    outline: none;
    @media screen and (max-width:992px) {
      font-size: 13px;          
    }
  }
  input[type='radio'] {
    &:checked {
      &+label {
        background: $grey;
        color: #fff;
        @media screen and (max-width:992px) {
           background: transparent;
           color: $grey;            
        }
      }
    }
  }
  .label-size-none {
    @media screen and (max-width:768px) {
      display: none;             
    }
  }
}

.arrow-up-size,
.arrow-down-size,
.arrow-up-number,
.arrow-down-number {
  display: none;
  @media screen and (max-width:768px) {
    display: block;
    margin: 0 auto;
    width: 13px;
    height: 13px;
    background: #fff;
    border: none;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;             
  }  
  @media screen and (max-width:576px) {
      width: 7px;
      height: 7px;
      box-sizing: border-box;
      padding: 0;             
  }
}

.arrow-up-number,
.arrow-up-size {
  transform: rotate(-135deg) translate(5px,5px);;
}

.arrow-down-number,
.arrow-down-size {
  transform: rotate(45deg) translate(5px,5px);
}

.flower-count {
  text-align: center;
  @media screen and (max-width:992px) {
                  
  }
}

.flower-acount {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
  color: $grey;
  @media screen and (max-width:992px) {
    display: block;
    font-size: 13px;
    line-height: 25px;     
  }
}

.flower-plus, 
.flower-minus {
  font-size: 20px;
  line-height: 22px;
  vertical-align: middle;    
  height: 30px;
  color: $grey;
  background: transparent;
  border: none;
  cursor: pointer;
  @media screen and (max-width:992px) {
    display: none;      
  }
}

.flower-plus {
  margin-left: 10px;
}
.flower-minus {
  margin-right: 10px;
}

.flower-cost {
  text-align: center;
  font-size: 14px;
  color: $grey;
  padding-right: 210px;
  @media screen and (max-width:1600px) {
    padding-right: 160px;                
  }
  @media screen and (max-width:1400px) {
    padding-right: 0;                
  }
  @media screen and (max-width:992px) {
      font-size: 11px;              
  }
  @media screen and (max-width:768px) {
      display: none;              
  }
  &_mobile {
    display: none;
    @media screen and (max-width:768px) {
      display: block;
      text-align: left;
      color: $grey;
      margin-top: 15px;
      font-size: 11px;
                    
    }
  }
}

.last-th {
  padding-right: 200px !important;
  @media screen and (max-width:1600px) {
    padding-right: 160px !important;                
  }
  @media screen and (max-width:1400px) {
    padding-right: 0 !important;                
  }
  @media screen and (max-width:768px) {
      display: none;              
  }
}

.continue-buy {
  padding-top: 115px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width:768px) {
    padding-top: 20px;
    flex-direction: column;            
  }  
}

.promo-code {
  display: flex; 
  align-items: center;
  
  input {
    width: 360px;
    padding: 11px 15px;
    font-size: 11px;
    color: $m-color;
    border: 1px solid $grey;
    @include placeholder {
      transform: translateY(5px);
      font-size: 11px;
      font-family: 'Gill Sans';
      @media screen and (max-width:768px) {
        transform: none;            
      }
    }
    @media screen and (max-width:992px) {
      width: 75%;
      height: 34px;          
    }
    @media screen and (max-width:768px) {
      width: 100%;            
    }    
  }  
  .send-promocode {
    padding: 10px 35px;
    background: transparent;
    transition: all .3s;
    color: $grey;
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Futura-Bold';
    border: 1px solid $grey;
    margin-left: 20px;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: $grey;
    }
    @media screen and (max-width:992px) {
      width: 35%;
      padding: 10px 0;
      margin-left: 0;
      background: $grey;
      color: #fff;
      font-size: 7px;
      height: 34px;      
      display: inline-block;        
    }
    @media screen and (max-width:768px) {
      display: none;            
    }  
  }
}

.back-to-shop {
  width: 360px;
  border: 1px solid $grey;
  padding: 10px 35px;
  background: transparent;
  color: $grey;
  margin-top: 180px;
  cursor: pointer;
  transition: all .3s;
  text-transform: uppercase;
  font-size: 13px;
  &:hover {
    color: #fff;
    background: $grey;
  }
  @media screen and (max-width:992px) {
    font-size: 7px;
    width: 75%;
    margin-top: 100px;       
  }
  @media screen and (max-width:768px) {
    display: none;           
  }
  &_mobile {
    display: none;
    @media screen and (max-width:768px) {
      display: inline-block;
      width: 40vw;
      border: 1px solid $grey;
      background: transparent;
      font-size: 7px;
      text-transform: uppercase;
      padding: 10px 0;
      margin-right: 5vw;        
    }
  }
}

.all-cost {
  width: 35%;
  @media screen and (max-width:1200px) {
    width: 40%;               
  }
  @media screen and (max-width:768px) {
    width: 100%;
    padding-top: 20px;           
  }
}

.calc {
  display: flex;  
  justify-content: space-around;
  &-text {
    text-transform: uppercase;
    font-size: 11px;
    color: $grey;
    padding-top: 5px;
    @media screen and (max-width:992px) {
      padding-top: 0;     
    }
    &_so {
      font-weight: bold;
      padding-top: 3px;
      @media screen and (max-width:992px) {
        font-size: 8px;      
      }
    }
    &_main {
      margin-bottom: 15px;
      @media screen and (max-width:992px) {
        font-size: 8px;      
      }
    }
  }
  &-cost {
    font-size: 14px;
    color: $grey;
    margin-bottom: 8px;
    @media screen and (max-width:992px) {
      font-size: 11px;
      margin-bottom: 12px;      
    }
    span {
      text-transform: uppercase;
      font-size: 20px;
      @media screen and (max-width:992px) {
        font-size: 11px;      
      }
    }
  }
  &-free {
    text-transform: uppercase;
    color: $grey;
    font-size: 11px;
    margin-bottom: 10px;
    @media screen and (max-width:992px) {
      font-size: 6px;
      margin-bottom: 16px;    
    }
    span {
      font-size: 13px;
      @media screen and (max-width:992px) {
        font-size: 6px;      
      }
    }
  }
}

.continue-order {
  margin-left: auto;
  display: block;
  padding: 10px 0;
  background: $grey;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid $grey;
  width: 70%;
  margin-top: 142px;
  font-size: 13px;
  transition: all .3s;
  cursor: pointer;
  &:hover {
    background: transparent;
    color: $grey;
  }
  @media screen and (max-width:992px) {
    font-size: 7px;
    width: 75%;
    margin-top: 58px;       
  }
  @media screen and (max-width:768px) {
    width: 51vw;
    display: inline-block;           
  }
}