@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/Baskerville.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/Baskerville.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/Baskerville.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/Baskerville.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/fonts/Baskerville.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/Baskerville.svg#GillSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'velocity_demo';
  src: url('/fonts/VelocityDEMORegular.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/VelocityDEMORegular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/VelocityDEMORegular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/VelocityDEMORegular.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/fonts/velocity_demo.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/VelocityDEMORegular.svg#GillSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans-Regular.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/NotoSans-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/NotoSans-Regular.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/fonts/NotoSans-Regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/NotoSans-Regular.svg#GillSans') format('svg');
  font-weight: 400;  
}

@font-face {
  font-family: 'NotoSansMedium';
  src: url('/fonts/NotoSans-Medium.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/NotoSans-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/NotoSans-Medium.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/fonts/NotoSans-Medium.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/NotoSans-Medium.svg#GillSans') format('svg');
  font-weight: 700; 
}


@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot?95926338');
  src: url('/fonts/fontello.eot?95926338#iefix') format('embedded-opentype'),
       url('/fonts/fontello.woff2?95926338') format('woff2'),
       url('/fonts/fontello.woff?95926338') format('woff'),
       url('/fonts/fontello.ttf?95926338') format('truetype'),
       url('/fonts/fontello.svg?95926338#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

