

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/HelveticaNeue.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/HelveticaNeue.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/HelveticaNeue.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/fonts/HelveticaNeue.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/Helvetica.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/Helvetica.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/fonts/Helvetica.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/GillSans.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/GillSans.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/GillSans.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/GillSans.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/fonts/GillSans.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/GillSans.svg#GillSans') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GillSans-SemiBold';
  src: url('/fonts/GillSans-SemiBold.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/GillSans-SemiBold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/GillSans-SemiBold.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/fonts/GillSans-SemiBold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/GillSans-SemiBold.svg#GillSans') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/Baskerville.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/Baskerville.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/Baskerville.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/Baskerville.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/fonts/Baskerville.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/Baskerville.svg#GillSans') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Futura-Bold';
  src: url('/fonts/Baskerville.eot');
  /* IE9 Compat Modes */
  src: url('/fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/fonts/Futura-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/fonts/Futura-Bold.woff') format('woff'),
    /* Pretty Modern Browsers */
    url('/fonts/Futura-Bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/fonts/Futura-Bold.svg#GillSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

