// Color
$m-color: #CFBC9E;
$grey: #707070;


.info-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 110px;
  @media screen and (max-width:576px) {
    padding-top: 50px;
  }
  .sidebar-info {
    width: 20%;
    .title-info {
      font-size: 11px;
      text-transform: uppercase;
      margin-bottom: 53px;
    }
    @media screen and (max-width:576px) {
        display: none;
    }
  }
  .info-main {
    width: 75%;
    font-size: 13px;
    color: $grey;
    @media screen and (max-width:576px) {
      width: 100%;
    }
    .info-title {
      margin-bottom: 10px;
    }
    .info-desc {
      margin-bottom: 10px;
    }
    .info-item {
      margin-bottom: 5px;
    }
  }
  .footer-info-text {
    display: block;
  }
  .footer-info-text_item {
    margin-bottom: 54px;
  }
  .list-info_item {
    margin-bottom: 8px;
  }
  .list-info_link {
    font-size: 12px;
    color: $grey;    
  }
}