// Color
$m-color: #B9A689;
$grey: #707070;

// Mixin
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}


.product-wrapper {	
	padding-top: 130px;
	padding-bottom: 40px;		
	@media screen and (max-width:1200px) {
			padding-top: 80px;				
	}
	@media (max-width: 992px) {
			padding-top: 30px;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			padding-bottom: 0;
			border-bottom: none;
	}
	@media (max-width: 576px) {
			padding-top: 20px;
			
	}
}

.product-view {
  width: 60%;	
	max-height: 806px;	
	float: left;
	display: flex;
	@media screen and (max-width: 992px) {
		float: none;
		width: auto;
		order: 1;
	}
	.picture-list {
		width: 110px;
		min-width: 110px;
		max-height: 420px; 		
		overflow-y: auto;
		overflow-x: hidden;
		position: relative;
		@media screen and (max-width:1200px) {
        width: 90px;
				min-width: 90px;
				max-height: 320px;
    }
		@media screen and (max-width: 992px) {
			display: none;
		}				
	}
	.picture-item {				
		margin-bottom: 27px;
		width: 100px;
		@media screen and (max-width:1200px) {
        width: 80px;
				margin-bottom: 10px;				
    }					
		&:last-child {
			margin-bottom: 0;
		}		
		img {		
			height: 100%;	
			width: 100%;
		}
	}
	.picture-screen {
		position: relative;
		margin-left: 30px;
		width: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		@media screen and (max-width: 1200px) {
			margin-left: 10px;			
		}
		@media screen and (max-width: 992px) {
			margin-left: 0;			
		}
		.picture-img {			
			height: auto;
			width: auto;
			max-width: 93%;
			@media screen and (max-width: 1200px) {
				max-width: 100%;			
			}			
			@media screen and (max-width: 1200px) {
				max-width: 80%;			
			}			
		}
		.prev-arrow {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			cursor: pointer;
		}
		.next-arrow {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			cursor: pointer;
		}
	}
}

.clear {
	clear: both;
}

.product-title {
	margin-left: 65%;
	text-align: center;
	margin-top: 5%;
	@media screen and (max-width: 1200px) {
			margin-top: 0;
	}
	@media screen and (max-width: 992px) {
			margin: 0;
			order: 0;
			width: 100%;
	}
	.flower-title {
		text-transform: uppercase;
		font-size: 14px;
		margin-bottom: 10px;
		@media screen and (max-width: 992px) {
			text-align: center;			
		}
  }
	.flower-text {
		font-size: 13px;
		font-family: 'Baskerville';
		margin-bottom: 23px;
		@media screen and (max-width: 992px) {
			text-align: center;			
		}
	}
	.flower-price {
		span {
			font-style: italic;
			font-family: 'Baskerville';
			font-size: 17px;
		}
		font-family: 'NotoSans';
		font-size: 12px;
		margin-bottom: 50px;
		@media screen and (max-width: 1200px) {
			margin-bottom: 30px;			
		}
		@media screen and (max-width: 992px) {
			text-align: center;			
		}
	}
	.slider-desc {
		text-align: center;
		@media screen and (max-width: 992px) {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;	
			margin-top: 20px;
			order: 0;		
		}			
	}
	.size-block {
		@media screen and (max-width: 992px) {
			position: relative;		
		}						
	}
	label {
		width: 26px;
		height: 26px;
		background: transparent;  
		color: $grey;
		border-radius: 50%;
		line-height: 26px;
		font-size: 15px;
		display: inline-block;
		text-align: center;
		margin: 0 13px;
		transition: all .3s;
		cursor: pointer;
		outline: none;		
		&:before {
			content: '';
			width: calc(100% + 26px);
			height: 1px;
			background: $m-color;
			display: block;
			margin-left: -13px;
			transform: translateY(-10px);
		}            
	}		
	input[type='radio'] {
			&:checked {
				&+label {
					background: $m-color;
					color: #fff;                
				}
		}
	}
}


.product-description {
	width: 35%; 
	margin-left: 65%;
	@media screen and (max-width: 992px) {
			width: 100%;
			order: 2;
			margin: 0;
			display: flex;
			flex-direction: column;			
	}	
		.tabs {
			margin-top: 90px;
			margin-bottom: 40px;
			width: 100%;
			@media screen and (max-width: 1200px) {
				margin-top: 40px;
				margin-bottom: 20px;		
			}
			@media screen and (max-width: 992px) {
				width: 75%;
				margin: 0 auto;
				order: 2;
				margin-top: 50px;		
			}
			@media screen and (max-width: 576px) {
				display: none;		
			}
			&__caption {
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid $m-color;
				padding-bottom: 11px;
				margin-bottom: 30px;
				li {
					font-weight: bold;
					font-size: 12px;					
					&:not(.active) {
						cursor: pointer;
						font-weight: normal;
					}
				}
			}
			&__content {
				display: none;
				width: 90%;
				margin: 0 auto;
				p {
					font-size: 14px;
					font-family: 'Baskerville';
					line-height: 1.7em;
					margin-bottom: 20px;
				}
				span {
					font-size: 10px;
					
				}
				&.active {
					display: block;
				}
			}
		}

		.btn-wrapp {			
			display: flex;
			flex-direction: column;
			align-items: center;
			@media screen and (max-width: 992px) {
				order: 1;			
			}			
		}				
		.btn-order {
			width: 45%;
			min-width: 200px;
			padding: 10px 0;
			text-transform: uppercase;
			color: #fff;
			display: inline-block;			
			text-align: center;
			margin-top: 15px;
			@media screen and (max-width:1200px) {
				width: 70%;				
				padding: 13px 0;			
			}
			@media screen and (max-width:992px) {
				width: 50%;				
				padding: 13px 0;			
			}
			@media screen and (max-width: 576px) {
				display: block;
				width: 90%;
				margin: 0 auto;
				margin-bottom: 12px;	
			}
		}
		.move-order {
			background: $m-color;
			border: 1px solid $m-color;
			@media screen and (max-width: 576px) {
				margin-top: 30px;	
			}
		}
		.buy-order {
			background: transparent;
			border: 1px solid $m-color;
			color: $m-color;
			@media screen and (max-width: 576px) {
				margin-left: 0;
				margin: 0 auto;
				margin-bottom: 30px;
			}
		}
		.more-info {
			font-size: 14px;
			padding: 13px 0;
			border-top: 1px solid #CCCCCC;
			border-bottom: 1px solid #CCCCCC;
			width: 85%;
			margin-bottom: 25px;
			position: relative;
			cursor: pointer;			
			@media screen and (max-width:1200px) {
				width: 95%;				
			}
			@media screen and (max-width: 992px) {
				width: 100%;
				order: 3;		
			}
			&:before {
				content: '';
				display: block;
				width: 1px;
				height: 17px;
				background: $grey;
				position: absolute;
				right: 20px;
				top: 12px;
			}
			&:after {
				content: '';
				display: block;
				width: 17px;
				height: 1px;
				background: $grey;
				position: absolute;
				right: 12px;
				top: 20px;
			}			
		}		
		.product-more-info {
			margin-top: 170px;
			font-size: 14px;
			color: $grey;	
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media screen and (max-width: 992px) {
				display: none;							
			}
		}
		.phone-order {
			display: flex;
			align-items: center;
			font-size: 14px;
			color: $grey;
			img {
				margin-right: 5px;
			}
		}

}

.buytoo {
	border-top: 1px solid #cccccc;
	margin-top: 54px;
	@media screen and (max-width: 576px) {
		display: none;
	}
	&-title {
		text-transform: uppercase;		
		font-size: 22px;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.bouquet-list {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		&_item {
			width: 19%;
			text-align: center;
			@media screen and (max-width: 992px) {
				width: 30%;							
			}
			&:nth-child(4n + 1) {
				@media screen and (max-width: 992px) {
					display: none;							
				}
			}
			a {
				color: $m-color;
				img	 {
					max-width: 100%;
					margin: 0 auto;
					display: block;
					margin-bottom: 57px;
				}
				.bouquet-title {
					text-transform: uppercase;
					font-size: 14px;
					margin-bottom: 10px;
				}
				.bouquet-text {
					font-size: 13px;
					font-family: 'Baskerville';
					margin-bottom: 23px;
				}
				.bouquet-price {
					span {
						font-style: italic;
						font-family: 'Baskerville';
						font-size: 17px;
					}
					font-family: 'NotoSans';
					font-size: 12px;
					margin-bottom: 50px;
				}
			}
		}
	}
}
