// Color
$m-color: #CFBC9E;
$grey: #707070;


.reg-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 150px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;		
  }
  @media screen and (max-width: 576px) {
    padding-top: 50px;      	
  }
  .form-sign {
    width: 35%;
    @media screen and (max-width: 1200px) {
        width: 45%;			
    }
    @media screen and (max-width: 768px) {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 100px;	
    }
    @media screen and (max-width: 576px) {
      width: 100%;      	
    }
    .reg-label {
      text-transform: uppercase;
      color: $grey;
      margin-bottom: 25px; 
      display: block;     
    }
    .reg-input {
      padding: 13px 0;
      padding-left: 50px;
      width: 80%;
      border: 1px solid #D3D3D3;
      display: block;
      margin-bottom: 25px;
      @media screen and (max-width: 576px) {
        width: 100%;      	
      }
    }
    .forget {
      color: $grey;
      display: block;
      width: 25%;
      margin-left: auto;
      text-align: right;
      text-decoration: underline;
      @media screen and (max-width: 1200px) {
        width: 45%;			
      }      
    }
    .reg-btn {
      padding: 13px 0;
      border: 1px solid $m-color;
      background: $m-color;
      display: block;
      width: 40%;
      text-transform: uppercase;
      color: #fff;
      cursor: pointer;
      transition: 0.3s;
      margin-top: 60px;
      @media screen and (max-width: 992px) {
        width: 60%;			
      }
      @media screen and (max-width: 576px) {
        width: 100%;      	
      }
      &:hover {
        background: transparent;
        color: $m-color;
      }
    }
  }
}
