// Color
$m-color: #CFBC9E;
$grey: #707070;


.container-small {
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width:576px) {
    width: 100%;
  }
}

// Wellcome section


.welcome-wrapper {  
  .offer-slider {
    .main {
      &-list {        
        margin-bottom: 150px; 
        position: relative;               
      }
      &-item {
        overflow: hidden;
        position: relative;
      }
      &-info {
        @media screen and (max-width:992px) {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          padding: 15px;
          background: rgba(0, 0, 0, 0.3);
          width: 100%;
          color: #fff;
        }
        @media screen and (max-width:576px) {
          bottom: 25px;
          width: 95%;          
        }
      }      
      &-info_text {
        font-family: 'Futura-Bold';
        font-size: 14px;
        font-style: italic;
        text-align: center;
        margin-top: 15px;
      }
      &-info_link {
        padding: 13px 0;
        display: block;
        width: 25%;
        margin: 0 auto;
        margin-top: 15px;
        text-align: center;
        border: 1px solid $m-color;
        font-family: 'Futura-Bold';
        text-transform: uppercase;
        font-size: 11px;
        color: $m-color;
        transition: 0.3s;
        &:hover {
          background: $m-color;
          color: #fff;
          @media screen and (max-width:992px) {
            background: transparent;
          }
        }
        @media screen and (max-width:992px) {
          border: 1px solid #fff;
          color: #fff;
        }
        @media screen and (max-width:576px) {
          width: 50%;         
        }
      }
    }
  }
  .owl-dots {
    transform: translateY(-135px);
    @media screen and (max-width:992px) {
      transform: translateY(0);
    }
    @media screen and (max-width:576px) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    background: transparent;
    display: block;
    border: 1px solid $m-color;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    @media screen and (max-width:576px) {
      width: 9px;
      height: 9px;
    }
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: $m-color;
  }
}

// Paralax block

.paralax-wrapper {
  background: url(../../../images/incar.jpg) no-repeat center top / cover;
  background-attachment: fixed;
  height: 850px;
  @media screen and (max-width:576px) {      
      height: 600px;
  }
}

.paralax-desc {
  padding-bottom: 40px;
  @media screen and (max-width:576px) {      
      width: 90%;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.3);
      color: #fff;
      transform: translateY(-260px);
      padding: 15px 0 30px;

  }  
}

.main-title {
  font-family: 'Baskerville';
  font-size: 22px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
}
.main-text {
  font-family: 'Futura-Bold';
  font-size: 14px;
  font-style: italic;
  text-align: center;  
  margin: 0 auto;  
}
.main-look {
  font-family: 'Futura-Bold';
  font-size: 12px;
  display: block;
  margin: 0 auto;
  width: 40%;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  color: $m-color;
  @media screen and (max-width:576px) {
    color: #fff;
  }
  span {
    font-family: 'Gill Sans';
    font-size: 16px;
  }
}



// Present block

.present-flower,
.present-bouquet {
  width: 100%;
  height: 700px;
  margin-bottom: 30px;
}

.present-flower {
  display: flex;
  position: relative;
}

.photo-big {
  height: 100%;
  width: 70%;
  background: url(../../../images/chanel.jpg) no-repeat center center / cover;
  @media screen and (max-width:992px) {
    width: 100%;
  }
}

.photo-small {
  height: 100%;
  width: 30%;
  background: url(../../../images/girla.jpg) no-repeat center center / cover;
  @media screen and (max-width:992px) {
    display: none;
  }
}

.present-desc {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 10px 15px 30px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  @media screen and (max-width:576px) {
    width: 90%;
  }
  .main-title {    
    text-align: left;    
  }
  .main-text {    
    text-align: left;    
  }
  .main-look {  
    width: 100%;
    text-align: left;
    color: #fff;  
  }
}


.present-bouquet {
  position: relative;
  background: url(../../../images/girla2.jpg) no-repeat center center / cover;
  .present-desc {
    left: 50%;
    transform: translateX(-50%);    
    background: rgba(0, 0, 0, 0.3);
    a {      
      text-align: center;
    }
    .main-title {    
      text-align: center;    
    }
    .main-text {    
      text-align: center;    
    }
    .main-look {      
      text-align: center;  
    }
  }
}



// Catalog list

.catalog-wrapper {
  @media screen and (max-width:992px) {
      display: none;
  }
  .catalog-list {
    .catalog-item {
      @media screen and (max-width:576px) {
          margin-top: 15px;
      }
    }
  }
}

// History block

.history  {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  @media screen and (max-width:1200px) {
      align-items: center;
  }
  @media screen and (max-width:992px) {
      flex-direction: column;
  }
  @media screen and (max-width:576px) {
    display: none;
  }
  .shop {
    width: 70%;
    display: block;
    @media screen and (max-width:992px) {
      width: 100%;
    }   
    img {
      width: 100%;
    }
  }
  &-text {
    width: 25%;
    color: $grey;
    font-size: 16px;
    @media screen and (max-width:1200px) {
        width: 30%;
    }
    @media screen and (max-width:992px) {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
  }
}

// Advantages Block

.advantages {
  margin-top: 100px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  padding: 30px 0;
  &-title {
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    color: $grey;
  }
  &-list {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    @media screen and (max-width:992px) {
      justify-content: space-between;
    }
    @media screen and (max-width:576px) {
      flex-direction: column;
    }
  }
  &-item {
    width: 28%;
    @media screen and (max-width:576px) {
      width: 100%;
      display: flex;
      align-items: center;
    }
    img {
      display: block;
      margin: 0 auto;
      @media screen and (max-width:992px) {
        width: 100%;
      }
      @media screen and (max-width:576px) {
        width: 150px;
        margin: 0;
        margin-right: 10px;        
      }
    }
  }
  &-text {
    color: $grey;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
  }
}

// Bouquet Slider

.bouquet-slider {
  margin-top: 100px;
  @media screen and (max-width:576px) {
    margin-top: 60px;
  }
  &_title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    align-items: flex-end;
    .logo-img {
      // min-height: 17px;
      width: 220px;
      margin: 0;
      @media screen and (max-width:576px) {
        width: 165px;
      }
    }
    span {
      font-size: 67px;
      font-family: 'velocity_demo';
    }
  }
  &_wrapp {
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    @media screen and (max-width:1200px) {
      width: 50%;
    }
    @media screen and (max-width:992px) {
      width: 80%;
    }
    @media screen and (max-width:576px) {
      width: 90%;
    }
    .owl-prev,
    .owl-next {
      position: absolute;      
      span {
        font-size: 50px;
        @media screen and (max-width:576px) {
          font-size: 40px;
        }
      }
    }
    .owl-prev {
      top: 50%;
      left: 0;
      @media screen and (max-width:1200px) {
        top: 60%;
      }
      &:hover {
        background: transparent !important;
        color: $m-color !important;
      }
    }
    .owl-next {
      top: 50%;
      right: 0;
      @media screen and (max-width:1200px) {
        top: 60%;
      }
      &:hover {
        background: transparent !important;
        color: $m-color !important;
      }
    }
  }
  &_item {
    font-size: 18px;
    text-align: center;
    .flower-text {
      margin-top: 10px;
      margin-bottom: 25px;
      font-family: 'Baskerville';
    }
    img {
      width: 100%;
      margin-top: 20px;
    }
  }
  .show-more {
    text-align: center;
    &:before {    
      content: '';
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 50%;
      background: $m-color;
      position: absolute;
      top: -60px;
      left: -30px;        
    }
    &:after {      
      content: '';
      width: 5px;
      height: 5px;
      display: block;
      border-radius: 50%;
      background: $m-color;
      position: absolute;
      top: -40px;
      left: -48px;          
    }
  }
  p.youshow {
    width: 160px;
    margin: 0 auto;
    &:before {    
      content: '';
      width: 14px;
      height: 14px;
      display: block;
      border-radius: 50%;
      background: $m-color;
      position: absolute;
      top: -20px;
      right: -50px;        
    }
    &:after {    
      content: '';
      width: 5px;
      height: 5px;
      display: block;
      border-radius: 50%;
      background: $m-color;
      position: absolute;
      top: -10px;
      right: -68px;        
    }
  }
}