// Color
$m-color: #B9A689;
$grey: #707070;


.container-small {
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width:576px) {
    width: 100%;
  }
}

// Wellcome section

.welcome-wrapper {
  position: sticky;
  top: -50%;
  background: #fff;
  .offer-slider {
    .main {
      &-list {
        position: relative;
        width: 95%;
        margin: 0 auto;        
        @media screen and (max-width:992px) {
          width: 100%;
        }               
      }
      &-item {        
        position: relative;
        height: 700px;
        @media screen and (max-width:992px) {
          height: auto;
        }
      }
      &-img {
        position: relative;
        height: 600px;
        overflow: hidden;
        @media screen and (max-width:992px) {
          height: auto;
        }               
        @media screen and (max-width:576px) {
          height: 500px;
        }               
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          @media screen and (max-width:992px) {
            position: static;            
            transform: none;
            height: auto;
          }
          @media screen and (max-width:576px) {
            position: absolute;
            transform: translate(-50%,-50%);
            height: 100%;
            width: auto;
          }
        }
      }
      &-info {
        @media screen and (max-width:992px) {
          position: absolute;
          bottom: 10%;
          left: 50%;
          transform: translateX(-50%);          
        }
        @media screen and (max-width:576px) {
          bottom: 25px;
          width: 95%;          
        }
      }      
      &-info_text {
        font-family: 'NotoSansMedium';
        font-size: 14px;
        font-style: italic;
        text-align: center;
        margin-top: 15px;
      }
      &-info_link {
        padding: 13px 0;
        display: block;
        width: 25%;
        margin: 0 auto;
        margin-top: 15px;
        text-align: center;
        border: 1px solid $m-color;
        font-family: 'NotoSansMedium';
        text-transform: uppercase;
        font-size: 11px;
        color: $m-color;
        transition: 0.3s;
        &:hover {
          background: $m-color;
          color: #fff;
          @media screen and (max-width:992px) {
            
          }
        }
        @media screen and (max-width:992px) {
          width: 50%;
        }        
      }
    }
  }
  .owl-dots {
    transform: translateY(-135px);
    @media screen and (max-width:992px) {
      transform: translateY(0);
    }
    @media screen and (max-width:576px) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .owl-theme .owl-nav.disabled+.owl-dots {
    @media screen and (max-width:992px) {      
      margin-top: -25px;
    }    
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    background: transparent;
    display: block;
    border: 1px solid $m-color;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    @media screen and (max-width:576px) {
      width: 9px;
      height: 9px;
    }
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: $m-color;
  }
}

// Paralax block

.paralax-wrapper {
  background: url(../../../images/incar.jpg) no-repeat center top / cover;  
  height: 850px;  
  @media screen and (max-width:992px) {      
      display: none;
  }
}

.main-title {
  font-family: 'Baskerville';
  font-size: 22px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
}
.main-text {
  font-family: 'NotoSansMedium';
  font-size: 14px;
  font-style: italic;
  text-align: center;  
  margin: 0 auto;  
}
.main-look {
  font-family: 'NotoSansMedium';
  font-size: 12px;
  display: block;
  margin: 0 auto;
  width: 40%;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  color: $m-color;
  @media screen and (max-width:576px) {
    color: #fff;
  }
  span {
    font-family: 'NotoSans';
    font-size: 16px;
  }
}


// Supply block

.supply {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding-top: 50px;
  max-height: 1430px;
  @media screen and (max-width:1200px) {
    max-height: 1080px;
  }
  @media screen and (max-width:992px) {
    flex-direction: column;
    max-height: none;
  }
  @media screen and (max-width:576px) {
    padding-top: 0;
  }
  .left-block {
    width: 65%;
    @media screen and (max-width:992px) {
      width: 100%;
      border-bottom: 1px solid $m-color;
      padding-bottom: 35px;
    }
    @media screen and (max-width: 576px) {
      border-bottom: none;
      padding-bottom: 0;
    }
    .main-img {
      height: 680px;
      background: #fff url(../../../images/girla2.jpg) no-repeat center center / cover;
      position: relative;
      @media screen and (max-width:1200px) {
        height: 500px;
      }
      .text-block {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        a {
          color: #fff;
        }
      }      
    }
    .secondary {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      @media screen and (max-width: 576px) {
        flex-direction: column;
        margin-top: 0;
      }
      &-img {
        width: 49%;
        height: 670px;
        background: #fff url(../../../images/girla.jpg) no-repeat center center / cover;
        position: relative;
        @media screen and (max-width:1200px) {
          height: 500px;
        }
        @media screen and (max-width: 576px) {
          width: 100%;
        }
        .text-block {
          position: absolute;
          width: 80%;
          bottom: 5%;
          left: 50%;
          transform: translateX(-50%);
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .right-block {
    width: 33%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width:992px) {
      width: 95%;
      margin: 0 auto;
      padding-top: 35px;      
    }    
    .bouquet-slider_title {
      img {
        width: 130px;
      }
      span {
        font-size: 36px;
      }
    }
    .unit {
      flex-grow: 1;
      overflow: hidden;
      overflow-y: scroll;
      padding-right: 8px;
      &-item {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        margin-bottom: 10px;
        align-items: center;
        @media screen and (max-width:576px) {
          flex-direction: column;      
        }
        &:nth-child(n+6) {
          @media screen and (max-width:992px) {
            display: none;      
          }
        }
        &:nth-child(n+4) {
          @media screen and (max-width:576px) {
            display: none;      
          }
        }
        .flower-img {
          width: 100%;
          padding-top: 45%;
          background: #fff url(../../../images/flower-big.png) no-repeat center center / contain;
        }
        .desc-text {
          flex-grow: 1;          
          margin-left: 15px;
          @media screen and (max-width:576px) {
            margin-left: 0;      
          }
          .main-text {
            font-family: 'NotoSans';
            font-style: normal;
            font-size: 13px;
          }
          .main-look {
            @media screen and (max-width:1200px) {
              width: 50%;
            }
            @media screen and (max-width:576px) {
              color: $m-color;
            }
          }
          .flower-price {
            text-align: center;
            margin-bottom: 5px;
            span {
              font-family: 'Baskerville';
              font-style: italic;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}


// Advantages block

.advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
  border-top: 1px solid $m-color;
  border-bottom: 1px solid $m-color;
  margin-top: 45px;
  @media screen and (max-width:992px) {
    flex-direction: column;
  }
  &_item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 25px;
    @media screen and (max-width:1200px) {
      padding: 0px 15px 0px 5px;
      justify-content: space-between;
    }    
    @media screen and (max-width:992px) {
      justify-content: space-around;
      width: 100%;
    }    
    @media screen and (max-width:576px) {
      flex-direction: column;
    }    
    &:nth-child(2) {
      border-left: 1px solid $m-color;
      border-right: 1px solid $m-color;
      @media screen and (max-width:992px) {
        border: none;
        border-top: 1px solid $m-color;
        border-bottom: 1px solid $m-color;
        padding: 35px 0;
        margin: 35px 0;
      }
    }
  }
  &_block {
    width: 100%;
    text-align: center;
    @media screen and (max-width:992px) {
      max-width: 260px;
      text-align: left;
    }
    @media screen and (max-width:576px) {
      max-width: 100%;
      text-align: center;
    }
    .advantages_title {
      margin-bottom: 30px;
      font-size: 18px;
      font-family: 'Baskerville';
      font-weight: normal;
    }
    .advantages_text {
      font-size: 13px;
      font-family: 'NotoSans';
      width: 90%;
      margin: 0 auto;
      @media screen and (max-width:992px) {
        width: 100%;
      }
    }
  }
}

// Bouquet Slider

.bouquet-slider {
  margin-top: 50px;
  @media screen and (max-width:576px) {
    margin-top: 60px;
  }
  &_title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    align-items: flex-end;
    .logo-img {
      // min-height: 17px;
      width: 220px;
      margin: 0;
      @media screen and (max-width:576px) {
        width: 165px;
      }
    }
    span {
      font-size: 67px;
      font-family: 'velocity_demo';
    }
  }
  &_wrapp {
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    @media screen and (max-width:1200px) {
      width: 50%;
    }
    @media screen and (max-width:992px) {
      width: 80%;
    }
    @media screen and (max-width:576px) {
      width: 90%;
    }
    .owl-prev,
    .owl-next {
      position: absolute;      
      span {
        font-size: 50px;
        @media screen and (max-width:576px) {
          font-size: 40px;
        }
      }
    }
    .owl-prev {
      top: 50%;
      left: 0;
      @media screen and (max-width:1200px) {
        top: 60%;
      }
      &:hover {
        background: transparent !important;
        color: $m-color !important;
      }
    }
    .owl-next {
      top: 50%;
      right: 0;
      @media screen and (max-width:1200px) {
        top: 60%;
      }
      &:hover {
        background: transparent !important;
        color: $m-color !important;
      }
    }
  }
  &_item {
    font-size: 18px;
    text-align: center;
    .flower-text {
      margin-top: 10px;
      margin-bottom: 25px;
      font-family: 'Baskerville';
    }
    img {
      width: 100%;
      margin-top: 20px;
    }
  }
  .show-more {
    text-align: center;
    &:before {    
      content: '';
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 50%;
      background: $m-color;
      position: absolute;
      top: -60px;
      left: -30px;        
    }
    &:after {      
      content: '';
      width: 5px;
      height: 5px;
      display: block;
      border-radius: 50%;
      background: $m-color;
      position: absolute;
      top: -40px;
      left: -48px;          
    }
  }
  p.youshow {
    width: 160px;
    margin: 0 auto;
    &:before {    
      content: '';
      width: 14px;
      height: 14px;
      display: block;
      border-radius: 50%;
      background: $m-color;
      position: absolute;
      top: -20px;
      right: -50px;        
    }
    &:after {    
      content: '';
      width: 5px;
      height: 5px;
      display: block;
      border-radius: 50%;
      background: $m-color;
      position: absolute;
      top: -10px;
      right: -68px;        
    }
  }
}