//Import
@import 'fonts';
@import 'welcome';
@import 'catalog';
@import 'bucket';
@import 'product';
@import 'order';
@import 'info';
@import 'reg';



// Color
$m-color: #CFBC9E;
$grey: #707070;

// Mixin
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

// Specification

body {
    font-family: 'Gill Sans';
    font-size: 12px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
    color: $m-color; 
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;    
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;	
}

p {
	margin: 0;
	padding: 0;
}

a, a:hover, a:active {
	text-decoration: none;	
}

a:focus {
	outline: none;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
	outline: none;
}

.container {
    width: 93%;
    margin: 0 auto;
    @media screen and (max-width:1200px) {
        width: 96%;
    }
}

// Header 

.header {
    display: flex;
    flex-direction: column;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 90;
    display: none;
}

.bucket-menu {
    width: 530px;
    background: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    height: auto;
    min-height: 100vh;
    transform: scale(0);
    transition: all .4s;
    transform-origin: right top;
    @media screen and (max-width: 576px) {
        width: 90%;			
    }
    &_active {
        transform: scale(1);
    }  
    .bucket {
        position: absolute;
        top: 45px;
        right: 75px;
        @media screen and (max-width: 576px) {
            top: 30px;
            right: 40px;			
        }       
        &-sum {
            width: 16px;
            height: 16px;                        
            background: $m-color;
            border-radius: 50%;
            line-height: 16px;
            text-align: center;
            font-size: 10px;
            color: #fff;
            display: inline-block;
            position: absolute;
            top: 39px;
            right: 65px;
            @media screen and (max-width: 576px) {
                top: 25px;
                right: 29px;			
            }
        }
    }
    .order-item {
        display: flex;
        align-items: center;
        color: $m-color;
        position: relative;
        padding-top: 30px;
        padding-bottom: 50px;
        @media screen and (max-width: 576px) {
            flex-direction: column;
            padding-top: 20px;
            padding-bottom: 30px;			
        }
        &:last-child:after {
            display: none;
        }
        &:after {
            content:'';
            width: 80%;
            display: block;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $m-color;

        }        
        .flower-img {
            margin-right: 15px;
            @media screen and (max-width: 576px) {
                margin-right: 0;			
            }   
        }
        .flower-title {
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 10px;
            @media screen and (max-width: 576px) {
                text-align: center;
                margin-top: 15px;			
            }
        }
        .flower-text {
            font-size: 13px;
            font-family: 'Baskerville';
            margin-bottom: 23px;
            @media screen and (max-width: 576px) {
                text-align: center;			
            }
        }
        .flower-price {
            span {
                font-style: italic;
                font-family: 'Baskerville';
                font-size: 17px;
            }
            font-family: 'Helvetica Neue';
            font-size: 12px;
            margin-bottom: 50px;
            @media screen and (max-width: 576px) {
                text-align: center;
                margin-bottom: 20px;			
            }
        }
        label {
            width: 25px;
            height: 25px;
            background: transparent;  
            color: $m-color;
            border-radius: 50%;
            line-height: 25px;
            font-size: 13px;
            display: inline-block;
            text-align: center;
            margin: 0 13px;
            transition: all .3s;
            cursor: pointer;
            outline: none;            
        }
        input[type='radio'] {
            &:checked {
                &+label {
                    background: $m-color;
                    color: #fff;                
                }
            }
        }
    }
    .checkout {
        width: 90%;
        display: block;
        background: $m-color;
        padding: 12px 0;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 13px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        transition: all .3s;
        border: 1px solid $m-color;
        &:hover {
            background: transparent;
            color: $m-color;
        }
    }
}

.navigation {
    padding:48px 0 34px;
    @media screen and (max-width:992px) {
        padding: 30px 0 20px;
    }
}

.search {
    cursor: pointer;
    @media screen and (max-width:992px) {
        display: none;
    }
    width: 10%;    
    &-block {
        padding: 25px 0;
        border-bottom: 1px solid #D3D3D3;
        text-align: center;
        display: none;
        @media screen and (max-width:992px) {
            order: 1;
            border-bottom: none;
            text-align: left;
            display: block;                
        }        
    }
    &-wrapp {
        position: relative;
        @media screen and (max-width:992px) {
            display: flex;
            align-items: center;
            height: 30px;                      
        }
        .search-icon {
            display: none;
            @media screen and (max-width:992px) {
                display: inline-block;
                cursor: pointer;                   
            }
        }
    }    
    &-field {
        width: 70%;
        padding: 20px 30px;
        border: none;
        border-top: 1px solid #D3D3D3;
        border-bottom: 1px solid #D3D3D3;
        text-align: center;
        color: $m-color;
        @include placeholder {
            color: #D3D3D3;
            text-transform: uppercase;
            transform: translateX(25px);
        }
        @media screen and (max-width:992px) {
            margin-left: 9%;
            display: none;                          
        }      
    }    
    &-icon-input {
        transform: translate(-30px, 14px);
        @media screen and (max-width:992px) {
            display: none;                          
        }
    }
    &-close {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;
        @media screen and (max-width:992px) {
            display: none;                          
        }
    }
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.burger {
    display: none;
    @media screen and (max-width:992px) {
        display: block;
        width: 10%;
    }
    @media screen and (max-width:576px) {
        width: 20%;
    }
}

.logo {
    &-img {
        max-height: 55px;
        width: 100%;
        margin: 0 auto;
        @media screen and (max-width:576px) {
            max-height: 35px;
            width: 50%;
            display: block;
        }
    }
}

.inter {
    display: flex;
    align-items: center;
    @media screen and (max-width:992px) {
        justify-content: space-between;
        width: 10%;
    }
    @media screen and (max-width:576px) {
        width: 20%;
    }   
    .sign-wrapp {
        margin: 0 15px;
        @media screen and (max-width:992px) {
            display: none;
        }
        .cabinet {
            font-family: 'Helvetica Neue';
            font-size: 12px;
            text-transform: uppercase;
        }
        .sign-link {
            font-family: 'Helvetica';
            font-size: 9px;
            color: $m-color;
        }
    }
    img {
        margin-top: -15px;
        cursor: pointer;
    }
}

.nav-menu {
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    padding: 20px 0 22px;
    @media screen and (max-width:1200px) {
        padding-bottom: 2px;
    }
    @media screen and (max-width:992px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background: #fff;
        z-index: 100;
        transform: translateX(-300px);
        transition: all .4s;
        border-top: none;
    }
    &_active {
        transform: translateX(0);
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:1200px) {
        flex-wrap:wrap;
    }
    @media screen and (max-width:992px) {
        height: calc(100vh - 80px);
        padding: 40px 0;        
    }
    &-item {
        transition: all .2s;
        &:hover {
            transform: scale(1.05);
        }
        @media screen and (max-width:1200px) {
            width: 22%;
            margin-bottom: 20px;
            text-align: center;
        }
        @media screen and (max-width:992px) {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            border-bottom: 1px solid #B5B5B5;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    &-link {
        text-transform: uppercase;
        font-size: 12px;
        color: $m-color;
    }
    &-close {
        display: none;
        @media screen and (max-width:992px) {
            position: absolute;
            top: 15px;
            right: 15px;
            display: block;           
        }
    }
}

// Footer


.footer {
    margin-top: 170px;    
    @media screen and (max-width:1200px) {
        margin-top: 120px;
    }
    @media screen and (max-width:576px) {
        margin-top: 60px;
        border-top: 1px solid #D3D3D3;
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
    }
    &-main-info {
        padding: 25px 0;
        border-top: 1px solid #D3D3D3;
        border-bottom: 1px solid #D3D3D3;
        display: flex;
        align-items: center;
        @media screen and (max-width:576px) {
            flex-direction: column;
            justify-content: center;
            order: 2;
            border-bottom: none;
            border-top: none;
            padding-top: 15px;
            padding-bottom: 45px;            
        }      
        
    }
    .messenger {
        margin: 0 24px 0 50px;
        @media screen and (max-width:768px) {
            margin: 0 5px 0 20px;
        }
        @media screen and (max-width:576px) {
            margin-left: 0;
            margin-top: 25px;            
        }
    }
    &-phone {
        font-size: 13px;
        color: #707070;
        @media screen and (max-width:576px) {
            margin-top: 10px;
        }
    }
    &-social {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 363px;
        @media screen and (max-width:1200px) {
            margin-left: auto;
        }
        @media screen and (max-width:576px) {
            margin-left: 0;
            margin-top: 20px;
            flex-direction: column;
        }
        &_link {
            @media screen and (max-width:576px) {
                margin-top: 10px;
            }
        }
    }
    &-all-info {
        padding-top: 43px;
        padding-bottom: 72px;
        border-bottom: 1px solid #D3D3D3;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:992px) {
            flex-direction: column;
            padding-bottom: 40px;
        }
        @media screen and (max-width:576px) {
            padding-bottom: 10px;
            order: 1;
            border-bottom: none;
            padding-top: 0;
        }
    }
    &-info-text {
        display: flex;
        width: 45%;
        justify-content: space-between;
        @media screen and (max-width:1200px) {
            width: 55%;
        }
        @media screen and (max-width:992px) {
            width: 90%;
        }
        @media screen and (max-width:576px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-top:1px solid $m-color;
        }
        &_item {
            @media screen and (max-width:576px) {
                border-bottom:1px solid $m-color;
                width: 100%;
                text-align: center;
            }
            &:first-child {
                @media screen and (max-width:576px) {
                    display: none;
                }
            }
        }
    }
    .title-info {
        font-size: 11px;
        color: $m-color;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 40px;
        @media screen and (max-width:576px) {
            margin-bottom: 0;
            padding: 15px 0;
        }
    }
    .list-info {
        @media screen and (max-width:576px) {
            display: none;
            margin-top: 20px;
        }
        &_item {
            margin-bottom: 4px;
            @media screen and (max-width:576px) {
                margin-bottom: 10px;
            }
        }
        &_link {
            font-size: 12px;
            color: #707070;
        }
    }
    .subscribe {
        @media screen and (max-width:576px) {
            display: none;
        }
        .title-info {
            @media screen and (max-width:992px) {
                text-align: center;
                margin-top: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #D3D3D3;
            }
        }        
        input {
            border: none;
            padding: 15px 0;
            padding-left: 25px;
            width: 265px;
            @media screen and (max-width:1200px) {
                width: 190px;
                padding-left: 10px;
            }
            @media screen and (max-width:992px) {
                width: 70%;
            }
        }
        &-send {
            padding: 15px 25px;
            background: $m-color;
            border: none;
            text-transform: uppercase;
            border: 1px solid $m-color;
            color: #fff;
            cursor: pointer;
            transition: all .3s;
            @media screen and (max-width:1200px) {
                padding: 13px 20px;
            }
            @media screen and (max-width:992px) {
                width: 25%;
                margin-left: 5%;
            }
            &:hover {
                color: $m-color;
                background: #fff;
            }
        }        
    }    
    &-logo {
        padding-top: 50px;
        padding-bottom: 85px;
        @media screen and (max-width:768px) {
            padding: 30px 0 45px;
        }
        @media screen and (max-width:576px) {
            order:0;
            padding: 40px 0 40px;          
        }
        .logo-img {
            max-height: 45px;
        }
    }
}