//Import
@import 'fonts';
@import 'welcome';
@import 'catalog';
@import 'bucket';
@import 'product';
@import 'order';
@import 'info';
@import 'reg';
@import 'thanks';



// Color
$m-color: #B9A689;
$grey: #707070;

// Mixin
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

// Specification

body {
    font-family: 'NotoSans';
    font-size: 12px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.02em;
    color: $m-color; 
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;    
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;	
}

p {
	margin: 0;
	padding: 0;
}

a, a:hover, a:active {
	text-decoration: none;	
}

a:focus {
	outline: none;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
	outline: none;
}

.container {
    width: 93%;
    margin: 0 auto;
    @media screen and (max-width:1200px) {
        width: 96%;
    }
}

// Header 

.header {
    display: flex;
    flex-direction: column;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    z-index: 90;
    display: none;
}

.bucket-menu {
    width: 530px;
    background: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    height: auto;
    min-height: 100vh;
    transform: scale(0);
    transition: all .4s;
    transform-origin: right top;
    @media screen and (max-width: 576px) {
        width: 90%;			
    }
    &_active {
        transform: scale(1);
    }  
    .bucket {
        position: absolute;
        top: 45px;
        right: 75px;
        @media screen and (max-width: 576px) {
            top: 30px;
            right: 40px;			
        }       
        &-sum {
            width: 16px;
            height: 16px;                        
            background: $m-color;
            border-radius: 50%;
            line-height: 16px;
            text-align: center;
            font-size: 10px;
            color: #fff;
            display: inline-block;
            position: absolute;
            top: 39px;
            right: 65px;
            @media screen and (max-width: 576px) {
                top: 25px;
                right: 29px;			
            }
        }
    }
    .order-item {
        display: flex;
        align-items: center;
        color: $m-color;
        position: relative;
        padding-top: 30px;
        padding-bottom: 50px;
        @media screen and (max-width: 576px) {
            flex-direction: column;
            padding-top: 20px;
            padding-bottom: 30px;			
        }
        &:last-child:after {
            display: none;
        }
        &:after {
            content:'';
            width: 80%;
            display: block;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $m-color;

        }        
        .flower-img {
            margin-right: 15px;
            @media screen and (max-width: 576px) {
                margin-right: 0;			
            }   
        }
        .flower-title {
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 10px;
            @media screen and (max-width: 576px) {
                text-align: center;
                margin-top: 15px;			
            }
        }
        .flower-text {
            font-size: 13px;
            font-family: 'Baskerville';
            margin-bottom: 23px;
            @media screen and (max-width: 576px) {
                text-align: center;			
            }
        }
        .flower-price {
            span {
                font-style: italic;
                font-family: 'Baskerville';
                font-size: 17px;
            }
            font-family: 'NotoSans';
            font-size: 12px;
            margin-bottom: 50px;
            @media screen and (max-width: 576px) {
                text-align: center;
                margin-bottom: 20px;			
            }
        }
        label {
            width: 25px;
            height: 25px;
            background: transparent;  
            color: $m-color;
            border-radius: 50%;
            line-height: 25px;
            font-size: 13px;
            display: inline-block;
            text-align: center;
            margin: 0 13px;
            transition: all .3s;
            cursor: pointer;
            outline: none;            
        }
        input[type='radio'] {
            &:checked {
                &+label {
                    background: $m-color;
                    color: #fff;                
                }
            }
        }
    }
    .checkout {
        width: 90%;
        display: block;
        background: $m-color;
        padding: 12px 0;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 13px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        transition: all .3s;
        border: 1px solid $m-color;
        &:hover {
            background: transparent;
            color: $m-color;
        }
    }
}

.navigation {
    padding:48px 0 34px;
    @media screen and (max-width:992px) {
        padding: 30px 0 20px;
    }
    @media screen and (max-width:576px) {
        padding: 10px 0 5px;
    }
}

.search {
    cursor: pointer;
    @media screen and (max-width:992px) {
        display: none;
    }
    width: 10%;    
    &-block {
        padding: 18px 0;
        border-bottom: 1px solid #D3D3D3;
        text-align: center;
        display: none;        
        @media screen and (max-width:992px) {
            order: 1;
            border-bottom: none;
            text-align: left;
            display: block;
            background: #EAE7E7;                
        }        
        @media screen and (max-width:768px) {
            padding: 8px 0;                
        }        
        @media screen and (max-width:576px) {
            padding: 5px 0;                
        }        
    }
    &-wrapp {
        position: relative;
        @media screen and (max-width:992px) {
            display: flex;
            align-items: center;
            height: 30px;                      
        }
        .search-icon {
            display: none;
            @media screen and (max-width:992px) {
                display: inline-block;
                cursor: pointer;                   
            }
            @media screen and (max-width:576px) {
                transform: scale(0.7);                   
            }
        }
    }    
    &-field {
        width: 70%;
        padding: 13px 30px;
        border: none;
        border-top: 1px solid #D3D3D3;
        border-bottom: 1px solid #D3D3D3;
        text-align: center;
        color: $m-color;
        background: transparent;
        @include placeholder {
            color: #D3D3D3;
            text-transform: uppercase;
            transform: translateX(25px);
        }
        @media screen and (max-width:992px) {
            margin-left: 9%;
            display: none;                          
        }      
        @media screen and (max-width:768px) {
            padding: 8px 30px;
            font-size: 11px;                        
        }      
    }    
    &-icon-input {
        transform: translate(-30px, 14px);
        @media screen and (max-width:992px) {
            display: none;                          
        }
    }
    &-close {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;
        @media screen and (max-width:992px) {
            display: none;                          
        }
    }
}

.sale {
    background: #B9A687;
    padding: 3px 0;
    text-align: center;
    font-size: 11px;
    color: #fff;
    span {
        text-transform: uppercase;
    }
}

.top-nav {
    display: flex;    
    align-items: center;
    position: relative;  
}

.burger {
    display: none;
    @media screen and (max-width:992px) {
        display: block;       
    }
    &-icon {        
        @media screen and (max-width:576px) {
            transform: scale(0.7)
        }
    }    
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    &-img {
        max-height: 55px;
        width: 100%;
        margin: 0 auto;
        @media screen and (max-width:576px) {
            max-height: 35px;
            width: 50%;
            display: block;
        }
    }
}

.top-phone {
    color: $m-color;
    font-size: 14px;
    @media screen and (max-width:992px) {
        display: none;
    }
}



.inter {
    display: flex;
    align-items: center;
    margin-left: auto;
    @media screen and (max-width:992px) {
        justify-content: space-between;        
    }
    .star {
        @media screen and (max-width:576px) {
            display: none;
        } 
    }    
    .sign {
        margin: 0 15px;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'NotoSans';
        @media screen and (max-width:576px) {
            font-size: 11px;
            margin: 0;            
        }
        span {
            font-size: 22px;
            font-family: 'Baskerville';
            @media screen and (max-width:576px) {
                font-size: 18px;
            }
        }
        &__link {
            color: $m-color;
        }
    }  
    img {        
        cursor: pointer;
    }
}

.nav-menu {
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    padding: 20px 0 22px;
    @media screen and (max-width:1200px) {
        padding-bottom: 2px;
    }
    @media screen and (max-width:992px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background: #fff;
        z-index: 100;
        transform: translateX(-300px);
        transition: all .4s;
        border-top: none;
    }
    &_active {
        transform: translateX(0);
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:1200px) {
        flex-wrap:wrap;
    }
    @media screen and (max-width:992px) {
        height: calc(100vh - 80px);
        padding: 40px 0;        
    }
    &-item {
        transition: all .2s;
        &:hover {
            transform: scale(1.05);
        }
        @media screen and (max-width:1200px) {
            width: 22%;
            margin-bottom: 20px;
            text-align: center;
        }
        @media screen and (max-width:992px) {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            border-bottom: 1px solid #B5B5B5;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    &-link {
        text-transform: uppercase;
        font-size: 12px;
        color: $m-color;
    }
    &-close {
        display: none;
        @media screen and (max-width:992px) {
            position: absolute;
            top: 15px;
            right: 15px;
            display: block;           
        }
    }
}

// Footer


.footer {
    margin-top: 170px;    
    @media screen and (max-width:1200px) {
        margin-top: 120px;
    }
    @media screen and (max-width:576px) {
        margin-top: 60px;
        border-top: 1px solid #D3D3D3;
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
    }
    &-head-info {
        padding: 14px;
        padding-left: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #D3D3D3;
        @media screen and (max-width:992px) {
            padding-left: 10px;          
        }
        @media screen and (max-width:576px) {
            flex-direction: column;
            order: 1;
            padding-left: 0;
            padding: 35px 0;      
        }
        .social-link {
            color: $m-color;
        }
        i {
            font-size: 22px;
        }
    }
    &-main-info {
        padding: 25px 0;
        padding-left: 55px;
        border-top: 1px solid #D3D3D3;
        border-bottom: 1px solid #D3D3D3;
        display: flex;
        align-items: center;
        @media screen and (max-width:992px) {
            padding-left: 20px;          
        }      
        @media screen and (max-width:576px) {
            flex-direction: column;
            justify-content: center;
            order: 2;
            border-bottom: none;
            border-top: none;
            padding-top: 15px;
            padding-bottom: 45px; 
            padding-left: 0;           
        }      
        
    }
    .messenger {
        margin: 0 24px 0 0;
        margin-left: 50px;
        @media screen and (max-width:992px) {
            margin-left: auto;
        }
        @media screen and (max-width:768px) {
            margin: 0 5px 0 20px;
        }
        @media screen and (max-width:576px) {
            margin-left: 0;
            margin-top: 25px;            
        }
    }
    &-phone {
        font-size: 13px;
        color: $m-color;
        @media screen and (max-width:576px) {
            margin-top: 10px;
        }
        &:nth-of-type(2) {
            margin-left: 193px;
            @media screen and (max-width:992px) {
                margin-left: auto;
            }
            @media screen and (max-width:576px) {
                margin-left: 0;
            }
        }
    }
    &-social {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        @media screen and (max-width:1200px) {
            margin-left: auto;
        }
        @media screen and (max-width:576px) {
            margin-left: 0;
            margin-top: 20px;
            width: 230px;
        }        
    }
    &-all-info {
        padding-top: 43px;
        padding-bottom: 72px;
        padding-left: 55px;
        border-bottom: 1px solid #D3D3D3;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:992px) {
            
            padding-bottom: 40px;
            padding-left: 20px;
        }
        @media screen and (max-width:576px) {
            padding-bottom: 10px;
            order: 1;
            border-bottom: none;
            padding-top: 0;
            padding-left: 0;
        }
        .footer-brand {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-weight: bold;
            @media screen and (max-width:768px) {
                display: none;
            }
            p:nth-child(2) {
                @media screen and (max-width:992px) {
                    display: none;
                }
            }
        }
    }
    &-info-text {
        display: flex;
        width: 45%;
        justify-content: space-between;
        @media screen and (max-width:1200px) {
            width: 55%;
        }
        @media screen and (max-width:992px) {
            width: 70%;
        }
        @media screen and (max-width:768px) {
            width: 100%;
        }
        @media screen and (max-width:576px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-top:1px solid $m-color;
        }
        &_item {
            @media screen and (max-width:576px) {
                border-bottom:1px solid $m-color;
                width: 100%;
                text-align: center;
                cursor: pointer;
            }
            
        }
    }
    .title-info {
        font-size: 11px;
        color: $m-color;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 40px;
        @media screen and (max-width:576px) {
            margin-bottom: 0;
            padding: 15px 0;
        }
    }
    .list-info {
        @media screen and (max-width:576px) {
            display: none;
            margin-top: 20px;
        }
        &_item {
            margin-bottom: 4px;
            @media screen and (max-width:576px) {
                margin-bottom: 10px;
            }
        }
        &_link {
            font-size: 12px;
            color: #707070;
        }
    }
    .subscribe {
        width: 40%;
        display: flex;
        @media screen and (max-width:1200px) {
            width: 50%;
        }
        @media screen and (max-width:992px) {
            width: 60%;
        }
        @media screen and (max-width:768px) {
            width: 70%;
        }
        @media screen and (max-width:576px) {
            width: 100%;
            margin-top: 35px;
        }
        .title-info {
            @media screen and (max-width:992px) {
                text-align: center;
                margin-top: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #D3D3D3;
            }
        }        
        input {
            border: 1px solid #F0F0F0;
            border-right: none;
            padding: 10px 0;
            padding-left: 25px;
            width: auto;
            flex-grow: 1;
            @media screen and (max-width:576px) {
                padding-left: 5px;
            }           
        }
        &-send {
            padding: 10px 25px;
            background: #F0F0F0;
            border: none;
            text-transform: uppercase;
            border: 1px solid #F0F0F0;
            color: #fff;
            cursor: pointer;
            transition: all .3s;           
            &:hover {
                color: #F0F0F0;
                background: #fff;
            }
            @media screen and (max-width:576px) {
                padding: 10px 5px;
            }
        }        
    }    
    &-logo {        
        display: none;        
        @media screen and (max-width:576px) {            
            padding: 40px 0 40px;
            display: block;
            order:5;
            border-top:1px solid #D3D3D3;        
        }
        .logo-img {
            max-height: 45px;
        }
    }
    &-logo-racc {
        padding-top: 50px;
        padding-bottom: 85px;
        @media screen and (max-width:768px) {
            padding: 30px 0 45px;
        }
        @media screen and (max-width:576px) {
            order:0;
            padding: 40px 0 40px;                   
        }
        .logo-img {
            max-height: 85px;
        }
    }
}

// Fonttelo

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */

// POP UP Catalog

.popup-bouquet {
    opacity: 1;
    display: none;
}

.bouquet-wrapp {
    position: fixed;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    background: #fff;
    display: flex;   
    align-items: center;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        padding: 20px;			
    }
    .flower-title {
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 10px;
            @media screen and (max-width: 576px) {
                text-align: center;
                margin-top: 15px;			
            }
        }
        .flower-text {
            font-size: 13px;
            font-family: 'Baskerville';
            margin-bottom: 23px;
            @media screen and (max-width: 576px) {
                text-align: center;			
            }
        }
        .flower-price {
            span {
                font-style: italic;
                font-family: 'Baskerville';
                font-size: 17px;
            }
            font-family: 'NotoSans';
            font-size: 12px;
            margin-bottom: 50px;
            @media screen and (max-width: 576px) {
                text-align: center;
                margin-bottom: 20px;			
            }
        }
        label {
            width: 25px;
            height: 25px;
            background: transparent;  
            color: $m-color;
            border-radius: 50%;
            line-height: 25px;
            font-size: 13px;
            display: inline-block;
            text-align: center;
            margin: 0 13px;
            transition: all .3s;
            cursor: pointer;
            outline: none;            
        }
        input[type='radio'] {
            &:checked {
                &+label {
                    background: $m-color;
                    color: #fff;                
                }
            }
        }
    .bouquet-slider_wrapp {
        background: #E4E4E4;
        margin: 0;
        margin-left: 10%;
        height: 100%;
        width: 50%;
        @media screen and (max-width: 768px) {
            margin-left: 0;	
            width: 47vw;
            background: none;		
        }
        @media screen and (max-width: 576px) {
            margin-left: 0;	
            width: 60vw;		
        }
        .owl-carousel .owl-stage-outer {
            height: 100%;
        }
    }
    .no-js .owl-carousel, .owl-carousel.owl-loaded {
        display: flex;
        align-items: center;
    }

    .flower-description {
        margin: 0 auto;
        text-align: center;
    }
    .popup-link {
        width: 200px;
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        border: 1px solid $m-color;
        padding: 13px 0;
        font-size: 14px;
        color: #fff;
        background: $m-color;
    }
}

//  Preloader

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;        
    width: 100%;
    height: 100vh;
    z-index: 999999;
    background: #fff; 
    display: none;   
    img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
}