.thanks-block {
  text-align: center;
  padding: 200px 0 240px;
  .thanks-title {
    font-size: 32px;
    margin-top: 25px;
    font-weight: lighter;
  }
  .thanks-text {
    font-size: 18px;
    margin-top: 70px;
    span {
      display: block;
      text-align: center;
    }
  }
}

.not-found {
  padding-top: 164px;
  padding-bottom: 150px;
  .soon {
    font-size: 86px;
    font-family: 'Baskerville';
    text-transform: uppercase;
    text-align: center;
  }
  .guest {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .development {
    font-size: 18px;
    text-align: center;
  }
  .move-back {
    color: #fff;
    background: $m-color;
    padding: 10px 0;
    width: 200px;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    margin-top: 150px;
  }
}