doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title= title
        if env.NODE_ENV == 'development'
            link(rel="stylesheet", href="/src/css/public/app.css")
        else
            link(rel="stylesheet", href="/app-8ad92fcc07.min.css")
    body

        img.logo(src="/images/logo.svg", alt="Логотип Raccoon Flowers")
        nav.navbar.navbar-expand-md.navbar-light.bg-light
            a.navbar-brand(href="/") Raccoon Flowers
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div#navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(href="/catalog") Каталог
        block main


        if env.NODE_ENV == 'development'
            script(src="/jquery/jquery.min.js")
            script(src="/src/js/public/app.js")
        else
            script(src='/app-ba92d7cc8b.min.js')


