doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title= title
        if env.NODE_ENV == 'development'
            link(rel="stylesheet", href="/src/css_static/public/mobiscroll.jquery.min.css")
            link(rel="stylesheet", href="/src/css_static/public/owl.carousel.min.css")
            link(rel="stylesheet", href="/src/css_static/public/owl.theme.default.min.css")
            link(rel="stylesheet", href="/src/css/public/app.css")
        else
            link(rel="stylesheet", href="/app-c619a72245.min.css")
    body
        .preloader
                img(src="/images/preloader.png", alt="Raccoon")
        header.header
            .overlay
            .bucket-menu
                img.bucket(src="/images/bucket.png", alt="Корзина Raccoon Flowers")
                span.bucket-sum 2
                ul.order-list
                    li.order-item
                        img.flower-img(src="/images/flower3.png", alt="Корзина Raccoon Flowers")
                        .flower-description
                            p.flower-title TO THE MOON AND BACK
                            p.flower-text Сhoose a beautiful and comfortable coat
                            p.flower-price <span>7 500</span> рублей
                            input(type="radio", id="s2", name="size")
                            label(for="s2" class="size-check") S
                            input(type="radio", id="m2", name="size")
                            label(for="m2" class="size-check label-size-none") M
                            input(type="radio", id="l2", name="size")
                            label(for="l2" class="size-check label-size-none") L
                            input(type="radio", id="xl2", name="size")
                            label(for="xl2" class="size-check label-size-none") XL
                    li.order-item
                        img.flower-img(src="/images/flower3.png", alt="Корзина Raccoon Flowers")
                        .flower-description
                            p.flower-title TO THE MOON AND BACK
                            p.flower-text Сhoose a beautiful and comfortable coat
                            p.flower-price <span>7 500</span> рублей
                            input(type="radio", id="s3", name="size1")
                            label(for="s3" class="size-check") S
                            input(type="radio", id="m3", name="size1")
                            label(for="m3" class="size-check label-size-none") M
                            input(type="radio", id="l3", name="size1")
                            label(for="l3" class="size-check label-size-none") L
                            input(type="radio", id="xl3", name="size1")
                            label(for="xl3" class="size-check label-size-none") XL     
                a.checkout(href="#") Оформить заказ
            .search-block
                .container
                    .search-wrapp
                        img.search-icon(src="/images/search.png", alt="Иконка поиска")
                        input.search-field#search-field(type="text", name="search", placeholder="Поиск")
                        label(for="search-field")
                            img.search-icon-input(src="/images/search-input.png", alt="Иконка поиска")
                        span.search-close
                            img(src="/images/search-close.png", alt="Иконка поиска")
            .navigation
                .container
                    .top-nav
                        .burger
                            img.burger-icon(src="/images/burger.png", alt="Бургер меню")
                        .search
                            img.search-icon(src="/images/search.png", alt="Иконка поиска")
                        .logo
                            a.logo-link(href="/")
                                img.logo-img(src="/images/logo.svg", alt="Логотип Raccoon Flowers")
                        .inter
                            img.star(src="/images/star.png", alt="Звезда Raccoon Flowers")
                            .sign-wrapp
                                p.cabinet My raccoon
                                a.sign-link(href="#") Вход
                                span /
                                a.sign-link(href="#") Регистрация
                            img.bucket(src="/images/bucket.png", alt="Корзина Raccoon Flowers")                           
            .nav-menu
                .container
                    nav
                        img.menu-close(src="/images/search-close.png", alt="Закрыть меню")
                        ul.menu
                            li.menu-item
                                a.menu-link(href="#") Новинки
                            li.menu-item
                                a.menu-link(href="#") Букеты в шляпной коробке
                            li.menu-item
                                a.menu-link(href="#") Букеты с лентой
                            li.menu-item
                                a.menu-link(href="#") Цветочная подписка
                            li.menu-item
                                a.menu-link(href="#") Розы David Austin
                            li.menu-item
                                a.menu-link(href="#") Уход за цветами
                            li.menu-item
                                a.menu-link(href="#") Корпоративным клиентам
                            li.menu-item
                                a.menu-link(href="#") The gallery        

        
        block main

        footer.footer
            .container
                .footer-wrapper
                    .footer-main-info
                        img.phone(src="/images/phone1.png")
                        a.footer-phone(href="tel:88003507457") 8 (800) 350 7457
                        img.messenger(src="/images/messenger.png")
                        a.footer-phone(href="tel:+79312715782") +7 (931) 271-57-82
                        .footer-social
                            a.footer-social_link(href="#")
                                img(src="/images/whatsapp.png")
                            a.footer-social_link(href="#")
                                img(src="/images/viber.png")
                            a.footer-social_link(href="#")
                                img(src="/images/telegram.png")
                    .footer-all-info
                        ul.footer-info-text
                            li.footer-info-text_item
                                h6.title-info Racconflowers.com
                            li.footer-info-text_item
                                h6.title-info О нас
                                ul.list-info
                                    li.list-info_item
                                        a.list-info_link(href="#") О компания
                                    li.list-info_item
                                        a.list-info_link(href="#") FAQs
                                    li.list-info_item
                                        a.list-info_link(href="#") Сотрудничество
                                    li.list-info_item
                                        a.list-info_link(href="#") Связаться с нами
                            li.footer-info-text_item                        
                                h6.title-info Сервис
                                ul.list-info
                                    li.list-info_item
                                        a.list-info_link(href="#") Доставка
                                    li.list-info_item
                                        a.list-info_link(href="#") Оплата
                                    li.list-info_item
                                        a.list-info_link(href="#") Возврат
                                    li.list-info_item
                                        a.list-info_link(href="#") Консьерж-сервис
                                    li.list-info_item
                                        a.list-info_link(href="#") Подарочные карты
                                    li.list-info_item
                                        a.list-info_link(href="#") Программа лояльности
                            li.footer-info-text_item
                                h6.title-info Информация
                                ul.list-info
                                    li.list-info_item
                                        a.list-info_link(href="#") Политика<br> конфиденциальности
                        form.subscribe
                            h6.title-info Подписывайтесь на нас
                            input(type="email", name="email", placeholder="Ваш email")
                            button.subscribe-send Подписаться
                    .footer-logo
                        a.logo-link(href="/")
                            img.logo-img(src="/images/logo.svg", alt="Логотип Raccoon Flowers")
            .popup-bouquet
                .bouquet-wrapp                
                    .owl-carousel.owl-theme.bouquet-slider_wrapp
                        .bouquet-slider_item                        
                            img(src="/images/flower-big.png", alt="Букет")
                        .bouquet-slider_item                        
                            img(src="/images/flower-big.png", alt="Букет")
                        .bouquet-slider_item                        
                            img(src="/images/flower-big.png", alt="Букет")
                    .flower-description
                        p.flower-title TO THE MOON AND BACK
                        p.flower-text Сhoose a beautiful and comfortable coat
                        p.flower-price <span>7 500</span> рублей
                        input(type="radio", id="s5", name="size1")
                        label(for="s5" class="size-check") S
                        input(type="radio", id="m5", name="size1")
                        label(for="m5" class="size-check label-size-none") M
                        input(type="radio", id="l5", name="size1")
                        label(for="l5" class="size-check label-size-none") L
                        input(type="radio", id="xl5", name="size1")
                        label(for="xl5" class="size-check label-size-none") XL
                        a.popup-link(href="#") Сделать заказ

        if env.NODE_ENV == 'development'
            script(src="/jquery/jquery.min.js")
            script(src="/src/js/public/jquery.nicescroll.min.js")
            script(src="/src/js/public/mobiscroll.jquery.min.js")
            script(src="/src/js/public/owl.carousel.min.js")
            script(src="/src/js/public/app.js")
        else
            script(src='/app-ba92d7cc8b.min.js')